[2014-12-18 15:40] yaroslav-ilin opened #1 "pip install xmlsec crashes on Debian"
I’m on Debian 7.7

Linux *.com 3.2.0-4-amd64 #1 SMP Debian 3.2.41-2+deb7u2 x86_64 GNU/Linux

[code]

Running `pip install xmlsec` fails to build with following message:

[code]

What am I doing wrong?

[2014-12-29 10:06] #1 closed, assigned to nobody

[2015-03-05 18:34] pitbulk commented on #1
I also experience this issue on Ubuntu 13.10, using a fresh virtualenv and python 2.7

[code]

[2015-03-05 20:14] mehcode commented on #1
@pitbulk
Can you try to upgrade setuptools in your fresh virtualenv?

[code]

[2015-03-05 20:21] pitbulk commented on #1
[code]

[2015-03-05 20:31] mehcode commented on #1
Strange. I'll look into it and see if I can reproduce it.
Sorry that it isn't installing for you.

First glance, `Unable to find pgen, not compiling formal grammar.` looks like it could lead to something.

[2015-03-05 20:37] pitbulk commented on #1
Not your fault :), xml and cryptography handler libraries used to have installation problems.
I developed a [python-saml](https://github.com/onelogin/python-saml) library that uses [dm.xmlsec.binding](https://pypi.python.org/pypi/dm.xmlsec.binding) that works fine in ubuntu but have [issues](https://github.com/onelogin/python-saml/issues/30) on centOS

So I'm interested in this [fork](https://gith

[2015-03-05 20:58] pitbulk commented on #1
Not my day, also have issues on CentOS release 6.6, with python 2.6.6, installing xmlsec-0.2.0:

[code]

[2015-03-05 21:00] pitbulk commented on #1
Not my day, also have issues on CentOS release 6.6, with python 2.6.6, installing xmlsec-0.2.0:

[code]

[2015-03-05 21:08] mehcode commented on #1
Just a heads up.. python 2.6.x has very little chance of working. This library was originally 3.x only but I back-ported it after a request.

[2015-03-05 21:08] mehcode commented on #1
Also.. have you seen: https://github.com/mehcode/python-saml

[2015-03-05 21:12] pitbulk commented on #1
Yes, I saw it time ago, but at OneLogin why try to port the [php-saml](https://github.com/onelogin/php-saml) to all languages using similar settings and similar API.

[2015-03-05 21:39] pitbulk commented on #1
I installed python2.7 on the centOS 6.6 and experienced the same issue that I described with the python 2.6

[2015-03-05 21:47] mehcode commented on #1
@pitbulk Okay. On a completely fresh install of Ubuntu 13.10 with a fresh VM (and a fresh virtualenv), everything works fine.

[code]

[2015-03-05 22:18] pitbulk commented on #1
Our outputs are differents:

[code]

[2015-03-05 22:23] pitbulk commented on #1
My output with a fresh virtualenv:

[code]

[2015-03-05 22:30] mehcode commented on #1
@pitbulk Can I see `python --version` and `pip --version`. Maybe its your pip version? Also try `pip install cython` before you `pip install xmlsec`.

[2015-03-05 22:35] pitbulk commented on #1
python --version
Python 2.7.5+
pip --version
pip 1.3.1 from /home/pitbulk/proyectos/python3-saml/venv/lib/python2.7/site-packages/pip-1.3.1-py2.7.egg (python 2.7)

Successfully installed cython

[2015-03-05 22:40] mehcode commented on #1
Can you try upgrading pip? I'm using 1.4.x.
[code]

And then try `pip install xmlsec` again.

[2015-03-05 22:56] pitbulk commented on #1
Installed pip 6.0.8 , and keep failing :(

[code]

[2015-03-05 23:24] mehcode commented on #1
@pitbulk Any chance you could try using https://github.com/yyuu/pyenv ? Maybe something is corrupted in your python's builds directory that is causing the failure.

I'm curious what is different about your setup. I literally just instead a clean Ubuntu 13.10 and it works flawlessly.

[2015-03-05 23:51] pitbulk commented on #1
@mehcode what is your python version?
I had a ubuntu 13.10 in a virtual machine with python 2.7.5+ (same than my other machine) and is also experience the same issue.

[2015-08-24 07:46] changjej opened #6 "error: lvalue required as left operand of assignment while installing on ubuntu."
[code]

I'm trying to install xmlsec==0.3.1 via `pip install xmlsec`, however, it fails with the previous errors.

I already installed libxml2-dev and libxmlsec1-dev as the instruction. 

How can I install it?

[2015-08-24 16:54] mehcode commented on #6
Can you tell me more about your environment? What OS are you on? What version of gcc do you have: `gcc --version`?

[2015-08-25 08:48] zqad commented on #6
I had the same problem on Fedora 22;
`gcc (GCC) 5.1.1 20150618 (Red Hat 5.1.1-4)`

The problem went away after I moved the definition of `XMLSEC_ENC_RETURN_REPLACED_NODE` out from the `cdef extern from "xmlsec.h":`-block and made it a `cdef` of its own in `src/xmlsec/enc.pxd`:

[code]

[2015-08-31 05:00] mehcode commented on #6
@zqad or @changjej Could you submit a PR for that? I'll give it a go on my machines.

[2015-08-31 05:11] changjej commented on #6
Sorry for late.

I'm using Ubuntu 14.04.2 LTS on Docker Contianer and `gcc --version` is gcc (Ubuntu 4.8.2-19ubuntu1) 4.8.2.

@zqad I tried the it and it resolved the issue however, I have new problem.

[code]

[2015-09-02 09:33] Nastya-Kruglikova commented on #6
Using Cython 0.23 instead of 0.23.1 helped me.

[2015-09-02 10:39] zqad commented on #6
@Nastya-Kruglikova, well spotted.
I tried the patched version (i.e. @changjej 's PR) with Cython 0.23 (I used 0.23.1 earlier) as well, and it seem to work fine. So merging it should not introduce a regression but rather make it work in both Cython 0.23 and 0.23.1.

[2015-09-29 18:36] bittecnologia commented on #1
Also, I need to install xmlsec using Python3.4 with virtualenv and got this error

[code]

[code]

All these packages are already installed ```apt-get install xmlsec1 openssl python-lxml libxmlsec1 libxmlsec1-dev```

[2015-10-02 13:42] bittecnologia opened #9 "Support for Python 3.4"
is `python-xmlsec`compatible with Python 3.4+?

[2015-10-06 11:43] mehcode commented on #6
Thanks @changjej and @bgaifullin! Sorry it took so long for me to get to this. This has been merged in and released as v0.3.3.

[2015-10-06 11:43] #6 closed

[2015-10-06 11:44] mehcode commented on #9
Verified as of v0.3.3

[2015-10-06 11:44] #9 closed

[2015-10-06 15:01] daaray opened #11 "Pip install failing on Ubuntu 12.04, Python 3.4.3"
This is the first time I have attempted to utilize this library, so hopefully I am missing something easy.

I installed the dependencies:

`apt-get install libxml2-dev libxmlsec1-dev`

A `pip install xmlsec==0.3.3` generates the following error:

[code]

Please advise.

[2015-10-06 15:03] mehcode commented on #11
Try installing the latest version of cython first.

[code]

---

This seems to be a recent problem from the recent release. It's not supposed to need an install of cython (it should install it using install requires).

[2015-10-06 15:04] mehcode commented on #11
Nope. That didn't fix it for me.

Hmm..

For now, ping your version to `0.3.2`

[code]

[2015-10-06 15:06] mehcode commented on #11
What version of gcc are you using? I can reproduce the failure with `4.8.2` but it installs successfully with `5.2.0`.

[2015-10-06 15:08] daaray commented on #11
`4.6.3`; I will update. Thanks for the quick responses.

[2015-10-06 15:09] mehcode commented on #11
Any ideas @bgaifullin / @changjej  ? I'd like to keep gcc 4.x compatibiltiy.

@daaray For the record, v0.3.2 installs fine on gcc 4.x and has the same features as v0.3.3. The release was intended to support the newest version of cython in combination with gcc 5.x.

[2015-10-06 15:10] mehcode commented on #11
Apparently I'm crazy -- make that `0.3.1`. `0.3.2` doesn't exist.

[2015-10-06 15:10] daaray commented on #11
Ah, ok...I will go that route 1st; installing v0.3.1. Thanks again.

[2015-10-06 15:11] mehcode opened #12 "v0.3.3 broken on gcc 4.x (so it appears)"
#11
#9
#10

[2015-10-06 15:19] daaray commented on #11
Reporting back...with `gcc v4.6.3` a `pip install xmlsec==0.3.1` resulted in the following for me:

[code]

[2015-10-06 15:21] mehcode commented on #11
Try uninstalling `cython` (hopefully you're in a virtualenv). Sorry this has been so hard to install. Will be working on it.

[2015-10-06 15:23] daaray commented on #11
hrm, a `pip freeze` inside the virtualenv does not list Cython at all.

[2015-10-06 15:25] mehcode commented on #11
This is broken for me too in a deployment script. Trying to come up with a resolution.

[2015-10-06 15:25] mehcode commented on #11
I'm currently running it now with a force install of cython as:

[code]

[2015-10-06 15:28] mehcode commented on #11
This seems to work for me. @daaray ?

[2015-10-06 15:36] daaray commented on #11
Yes, `xmlsec v0.3.1` installed successfully with `Cython<0.23` in play using `gcc 4.6.3`. Thanks!

[2015-10-25 13:32] balavec commented on #12
I have the same problem. It seems I can not install it. But it works on gcc version 5.1

[2015-10-25 14:14] balavec commented on #11
I am running gcc version 4.4.7 and can not install it even with:

    pip install "cython<0.23"
    pip install "xmlsec==0.3.1"

[2015-10-28 03:56] mehcode commented on #12
@bgaifullin

I merged in #13 but now I get

[code]

[2015-10-28 08:11] bgaifullin commented on #12
I will see what happens. Thank you.

[2015-11-05 17:22] rskumar commented on #1
I tried everything stated above as working.. still getting different errors with different approach on Ubuntu

[2015-11-17 11:37] nareshenoy opened #14 "Question regarding xmlsec.SignatureContext.sign"
Hi,
I just wanted to check if there is a way to force xmlsec.SignatureContext.sign to include the `<X509SubjectName>` and `<X509IssuerSerial>` tags while signing xml documents.

Right now, I'm doing this (most of the code is taken from the `test_sign_generated_template_pem_with_x509` method in `test_sign.py`)

[code]

Thanks,
Naresh

[2015-11-29 18:57] patrick91 opened #15 "Unable to install on Windows Server 2012"
Hi, I'm trying to install this library on windows server 2012, but I get this error:

[code]

I also compiled xmlsec, openssl and libxml2 but I get this error no matter what. Is there anything I should try?

[2015-12-03 14:06] patrick91 commented on #15
Finally we were able to compile and run the project on windows!

We needed to manually add the libraries to the setup.py file and then we were able to compile and install the library.

![screen shot 2015-12-03 at 14 27 17](https://cloud.githubusercontent.com/assets/667029/11561797/07651baa-99ca-11e5-9811-83aa2b3c2e19.png)

The only problem we had after that was that it was not finding DLLs when we

[2015-12-03 14:06] #15 closed

[2015-12-06 13:28] pitbulk commented on #11
Fresh Ubuntu 14.04 with dependences resolved:
[code]

I was not able to install xmlsec.

pip install "cython<0.23"
[code]
Following error when installing xmlsec==0.3.1:
[code]
Similar with xmlsec==0.3.3
[code]

Now with pip install "cython==0.23.3"
[code]
pip install "xmlsec==0.3.1"
[code]

Same with "xmlsec==0.3.3"
[code]

[2015-12-06 14:02] pitbulk commented on #12
@mehcode , @bgaifullin  any progress? Same issue here Ubuntu 14.04   gcc 4.8.4.
[Not able to install xmlsec 0.3.1 or 0.3.3](https://github.com/mehcode/python-xmlsec/issues/11#issuecomment-162317587) with different cython versions.

[2015-12-09 00:50] pitbulk commented on #11
In this case, Its seems that the problem is related to lxml 3.5.0:
[code]

[2015-12-10 08:42] pradyumnak opened #16 "xmlsec package installation on windows failing"
I am trying to install xmlsec package on windows but it failing. I tried to use the pre-build binaries for the required packages of libxml2, libxslt but still its failing to install.  FOllowing are the minimal logs(otherwise it pretty long list)

constants.obj : warning LNK4217: locally defined symbol xmlSecNs imported in function initconstants
libxmlsec.lib(xmlenc.o) : warning LNK4217: locally de

[2015-12-16 05:08] raghuraju commented on #11
I am also unable to install with this line in the requirements.txt file
[code]
connection keeps timing out, may be some access rights issue?

[2016-01-09 13:49] bgaifullin commented on #12
I found root cause:
I most systems the xmlsec is built without support dynamic load crypto library. that means all methods from file app.h do no work.
As workaround I can switch to use openssl implementation directly, BTW (now only openssl implementation is used).
Since cython does not support macroses I do not know how to properly fix this in cython implementation.
from my side, the best solution

[2016-01-09 17:09] bgaifullin commented on #12
I prepared PR.
I am sorry, that I needs so much time to fix this.
@mehcode can you share your opinion about get rid of cython and re-implement code in pure C.

[2016-01-26 21:08] mehcode commented on #14
You'd have to poke around `xmlsec` itself. This library is just a small wrapper around the C library.

[2016-01-26 21:09] mehcode commented on #12
This looks to be fixed finally. Great work @bgaifullin

---

About a pure python approach.. `hashlib` and `lxml` should be all we really need here. I'd merge something that removed cython and still passed the tests.

[2016-01-26 21:09] #12 closed

[2016-01-26 21:10] mehcode commented on #11
Could everyone here try installing again

[code]

[2016-01-26 21:11] mehcode commented on #16
It looks like you're failing to install `xmlsec` itself (not this library). I'm not sure how to help you here.

Ah.

It looks like there are windows pre-builts here: https://www.aleksey.com/xmlsec/download.html

[2016-01-28 08:42] bgaifullin commented on #14
Hi. I think the following code should help.
``
signature_node  = xmlsec.template.create(root_node,
                                             xmlsec.Transform.EXCL_C14N,
                                             xmlsec.Transform.RSA_SHA1)
xmlsec.template. add_x509_data (xmlsec.template. ensure_key_info(signature_node))
``
more information about xmlsec.templates can be found here:
https://www.

[2016-01-28 18:50] nwbreneman opened #18 "Flask debug=True causes TypeError with xmlsec"
Hello,

Running a Flask app with debug=True (app.run(debug=True)) returns a TypeError when attempting to enable debugging for xmlsec:

xmlsec.enable_debug_trace(debug)

e.g. in https://github.com/onelogin/python3-saml/blob/master/src/onelogin/saml2/utils.py#L557

Using a 0 or 1 instead of True/False works correctly.

I am using xmlsec 0.3.3.

I was asked to open an issue here -- I originally repor

[2016-01-28 22:03] mehcode commented on #14
@bgaifullin You have proved time and again that you know way more about `xmlsec` than I do. You're now a collaborator. Take it as you will.

[2016-01-28 22:05] mehcode commented on #18
Seems like a quick fix that -- we just want to coerce the parameter to be boolean and then get 1 or 0. Currently we just hope you passed 1 or 0.

https://github.com/mehcode/python-xmlsec/blob/53436b375e0a64c2fd46ae198107c453e725422b/src/xmlsec/utils.pyx#L52

[2016-01-29 12:29] pitbulk commented on #11
@mehcode
My system Ubuntu 14.04.3.   python2.7
I tried xmlsec-0.5.0 and Cython-0.23 . Installation worked but I have a segmentation fault when using
xmlsec

Same happens with xmlsec-0.5.0 and Cython-0.23.4

(I trying it in [python3-saml](https://github.com/onelogin/python3-saml) with the setup.py edited to point those versions. and got the error when executing the python setup.py test  command.

[

[2016-01-29 12:38] pitbulk commented on #14
:+1:

[2016-02-01 16:09] bgaifullin commented on #14
thank you.

[2016-02-01 16:14] bgaifullin commented on #11
@pitbulk, thank you for report. I will check this.

[2016-02-01 16:16] pitbulk commented on #11
Appreciate, let me know if I can help

[2016-02-08 11:31] pitbulk commented on #11
@bgaifullin , any progress with that issue?

[2016-02-09 17:18] bgaifullin commented on #11
@pitbulk Ive reproduced issue, but I do not found root cause yet.

[2016-02-09 21:38] bgaifullin commented on #11
When I run xmlsec tests with same data - no fault.
When run onelogin tests - fault. :(

[2016-02-11 00:59] pitbulk commented on #11
I discovered that maybe is related with lxml and the cython version.

I installed
[code]
and I was able to install xmlsec==0.3.0 and python3-saml  and test no failing.

[2016-02-11 01:49] asottile opened #19 "Failure to build on lucid: XMLSEC_ENC_RETURN_REPLACED_NODE undeclared"
Dockerfile to reproduce

[code]

Output:

[code]

[2016-02-11 14:01] bgaifullin commented on #11
@pitbulk, Could you check that #20 works for you, please.

[2016-02-11 14:02] bgaifullin commented on #18
fixed in #20

[2016-02-11 14:07] bgaifullin commented on #14
@nareshenoy, Do you still need help?

[2016-02-11 14:09] bgaifullin commented on #19
Hi, Please provide information about versions of packages ibxmlsec1 and libxml2

[2016-02-11 17:57] pitbulk commented on #11
@bgaifullin bad news

I created a new virtualenv, cloned python3-saml, edited the setup.py
[code]
so now I point your master branch
[code]
xmlsec 0.5.0, Cython 0.23.4, lxml-3.5.0 are used.

Installation worked
[code]
but segmentation fault happens on
[code]

[2016-02-12 00:02] asottile commented on #19
[code]

[2016-02-12 07:19] bgaifullin commented on #11
@pitbulk thank you. I will continue investigation.

[2016-02-12 07:24] bgaifullin commented on #19
Hi. @asottile the libxmlsec1 version 1.2.18 or greater is needed. You can build the libxmlsec1 from source code:  https://www.aleksey.com/xmlsec/.

[2016-02-12 07:37] bgaifullin commented on #11
@pitbulk You are using xmlsec from pip, the xmlsec from https://github.com/bgaifullin/python-xmlsec has version 0.3.3

root@node-1:~/python3-saml# pip3 show xmlsec
---
Name: xmlsec
Version: 0.3.3
Location: /usr/local/lib/python3.4/dist-packages/xmlsec-0.3.3-py3.4-linux-x86_64.egg
Requires: lxml

Please try to use the following command to install custom version of xmlsec
<your env path>/bin/pip ins

[2016-02-15 22:31] bgaifullin commented on #11
@pitbulk I found the reason. As soon as CI has been completed I will merge the fix.

[2016-02-15 22:50] #11 closed

[2016-02-15 22:50] #18 closed

[2016-02-15 22:51] bgaifullin commented on #11
@mehcode Please upload new build to pypi.

[2016-02-16 20:01] pitbulk commented on #11
I tested, the change solved the issue ;)

[2016-02-24 21:12] cynddl opened #21 "Symbol not found: _xmlSecDSigNs"
I installed python-xmlsec on Mac OS X 10.10.5, using libxml2 2.9.3 and libxmlsec1 1.2.20.

However, I cannot `import libxmlsec` with both Python 2.7 and Python 3.4. I get the following ImportError:

I tried compilling with both clang and gcc-4.9, but I still get this error. I'm not sure where it is coming from. [Someone else](https://github.com/wonnage/xmlsec-ruby/issues/2) experienced this with R

[2016-02-24 23:10] fedexin40 commented on #14
Hello @bgaifullin we are having same issue right now. We tried using your suggestion but unfortunately:

[code]

just adds the X509Certificate node and we also need the X509IssuerSerial, we found this template on xmlsec https://www.aleksey.com/xmlsec/api/xmlsec-templates.html#XMLSECTMPLX509DATAADDISSUERSERIAL but unfortunately seems its not currenty supported by python-xmlsec

[2016-02-25 22:09] bgaifullin commented on #14
I will see how to this method to python-xmlsec

[2016-02-25 22:14] bgaifullin commented on #21
Please provide me the list of symbols that are exported from your version of xmlsec1.dylib
In case if xmlsec1.dylib has been installed with brew - path will be /usr/local/lib/libxmlsec1.dylib

nm -gU /usr/local/lib/libxmlsec1.dylib

[2016-02-26 12:49] cynddl commented on #21
Here is the dump of the symbols lists from my system, with ``_xmlSecDSigNs`` at line 84:
https://gist.github.com/cynddl/9fbff472034d05f11a4e

I indeed installed libxmlsec1 with homebrew.

If I look into the ``constants.so`` file from python-xmlsec, the list of symbols is only:

[2016-02-26 20:56] bgaifullin commented on #21
it is ok, that constants.so contains only this methods.
Please also provide the output for next command:
otool -L constants.so

[2016-02-27 11:12] cynddl commented on #21
So, ``constants.so`` only uses ``libSystem.B.dylib`` and ``libgcc_s.1.dylib``. Shouldn't it use ``libxmlsec1.dylib`` too?

``otool -L /Users/cynddl/.python-eggs/xmlsec-0.5.0-py2.7-macosx-10.10-x86_64.egg-tmp/xmlsec/constants.so``

[2016-02-28 07:17] bgaifullin commented on #21
Yes. It should use libxmlsec1.dylib , Seems like it built without libxmlsec1.
Please try to execute the following command in python interpreter

the output should be:
{'pthread', 'xmlsec1', 'crypto', 'xslt', 'dl', 'm', 'xml2', 'ltdl', 'z', 'xmlsec1-openssl', 'icucore'}

[2016-02-28 11:24] cynddl commented on #21
Yes, the output is an only an empty ``set()``.

[2016-02-29 16:12] bgaifullin commented on #21
Could you check output for 'xmlsec1' . In case if it was not empty I prepare patch to fix this issue.

[2016-02-29 16:23] cynddl commented on #21
The output is also empty for ```'xmlsec1'```. Does that mean the issue is coming from _xmlsec1_ and not _python-xmlsec_?

[2016-03-02 15:32] bgaifullin commented on #21
yes, need to check why xmlsec1 does not provide information about itself.

[2016-04-06 15:44] pitbulk opened #22 "Error when trying to decrypt"
I have this private key (self-signed, develop server)

[code]

And I'm trying to decrypt this SAMLResponse

[code]

If I use this [online tool](https://www.samltool.com/decrypt.php) that uses xmlseclibs I'm able to decrypt, but when I execute

[code]

I got:

[code]

Any idea what is wrong?

[2016-04-08 09:00] pitbulk opened #23 "Segmentation fault when executing dsig_ctx.verify with Python3"
I tested and using Python2 works.

I was executing  [testValidateSign](https://github.com/onelogin/python3-saml/blob/master/tests/src/OneLogin/saml2_tests/utils_test.py#L706) from python3-saml and got a segmentation fault when executed
[code]
that internally executes:
[code]
and this last command throw the segmentation fault.

If instead I executes
[code]
or run Python2 instead of Python3, it work

[2016-04-12 16:20] bgaifullin commented on #23
@pitbulk this issue should be fixed in commit https://github.com/mehcode/python-xmlsec/commit/762bff6b07fc7a6434fa4ef1bf10069d541b9e02

Please could you check this issue in version from master branch?

[2016-04-12 16:23] bgaifullin commented on #23
@mehcode do you upload new build on pypi with last fixes?

[2016-04-14 11:10] mehcode commented on #23
Pushed 0.6.0 to pypi (sorry for the long delay and thanks a lot for the recent fixes @bgaifullin )

[2016-04-15 11:43] pitbulk commented on #23
Is working with 0.6.0 version, thanks

[2016-04-15 11:43] #23 closed

[2016-04-25 17:26] aop opened #24 "Pip install dev dependencies fails on python 2.7"
When running `pip install -e ".[test]"`

[code]

I'm running Linux Mint 17.2 64-bit, compiling with gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.1)

[2016-04-25 17:34] aop opened #25 "Please implement xmlSecTmplX509DataAddCertificate wrapper"
xmlSecTmplX509DataAddCertificate function wrapper seems to be missing.

I'd create a PR but can't get the local env to work : )

https://www.aleksey.com/xmlsec/api/xmlsec-templates.html#XMLSECTMPLX509DATAADDCERTIFICATE

[2016-04-28 17:38] bgaifullin commented on #24
Have you installed all requirements. I mean libxml2-dev libxmlsec1-dev.
Seems like the main reason that compilation has been failed.

[2016-05-10 15:10] say5 opened #26 "'xmlSecXkmsNs' undeclared"
It seems that in the latest version of `xmlsec1` [there is no XMKS](https://mail.gnome.org/archives/commits-list/2015-February/msg10555.html). And `pip install xmlsec` fails on Alpinelinux with `xmlsec==1.2.22`.

[code]

[2016-05-15 22:55] dpkp commented on #26
ref https://github.com/lsh123/xmlsec/commit/95c29dc742804b06ce99427c68422b52afd3d719

[2016-05-24 08:35] bgaifullin commented on #26
fixed in mehcode/python-xmlsec@466b991

[2016-05-24 08:35] #26 closed

[2016-06-06 11:03] #25 closed

[2016-06-18 14:46] aop commented on #26
Has this fix been pushed py PyPI yet? I'm facing this issue

[2016-07-11 18:32] yns88 opened #28 "Segmentation fault on decryption in 0.6.1 and Python3.5"
We experienced an issue very similar to https://github.com/mehcode/python-xmlsec/issues/23 in python3-saml (which has a requirement of xmlsec>=0.6.0) -- calls into xmlsec caused segmentation faults after the upgrade to 0.6.1, and a downgrade to 0.6.0 made the issue go away.

I think this may be a regression of that same issue that was closed in 0.6.0, though unfortunately I don't have any stacktra

[2016-07-12 08:56] bgaifullin commented on #28
Hi. Could you please provide script or code which cause segmentation fault. This will help me to reproduce this issue on my side.
Thank you.

[2016-07-12 17:08] yns88 commented on #28
I'm sorry I can't give a more detailed trace, but the error occurs in this code in python3-saml (`OneLogin_Saml2_Response.__init__()`)
https://github.com/onelogin/python3-saml/blob/3659de8e4e9a11ec0683764b53e88acae6b2976b/src/onelogin/saml2/response.py#L26

I believe it's likely that this function call is where the issue occurs:
https://github.com/onelogin/python3-saml/blob/3659de8e4e9a11ec0683764

[2016-07-12 19:23] mehcode commented on #28
@yns88 Here are the changes: https://github.com/mehcode/python-xmlsec/compare/v0.6.0...master

I messed up here as for some reason I thought that only my last commit was new (I forget that you're working on this @bgaifullin; I need to give you pypi access so you can release as well) and just made a patch release.

[2016-07-12 19:24] mehcode commented on #28
@yns88 Do you have a reproducible test case you could give us? Or bisect through that changeset and figure out which changeset it is?

These sorts of errors are plain hard to debug without reproduction.

[2016-07-15 06:48] vidyarani-dg opened #29 "xmlsec ImportError: constants.cpython-34m.so: undefined symbol: xmlSecNodeKeyInfo"
We experienced an issue in python-xmlsec while using python3-saml. When we first tried to install xmlsec using pip on Amazon Linux, it failed with the error:

`src/xmlsec.h:1:27: fatal error: xmlsec/xmlsec.h: No such file or directory
 #include <xmlsec/xmlsec.h>`

I then updated C_INCLUDE_PATH to include /usr/local/include/xmlsec1/
`pip install --upgrade --force-reinstall xmlsec`

Installs xmlsec

[2016-07-21 21:16] dmvieira commented on #1
I think you need:

- [ ] python-dev
- [ ] libxml2-dev
- [ ] libxslt1-dev
- [ ] More memory (512MB or higher) because lxml needs compiling

Working here

[2016-07-28 01:36] vidyarani-dg commented on #29
I resolved this by installing xmlsec and the dependant packages using Fedora EPEL rpm.
See https://aws.amazon.com/amazon-linux-ami/faqs/#epel and http://koji.fedoraproject.org/koji/buildinfo?buildID=570032

[2016-07-28 01:36] #29 closed

[2016-09-21 00:15] bluekeyes commented on #21
I was running into this same problem and managed to fix it today by upgrading Brew (along with `libxml2` and `libxmlsec1`) to the latest version and installing the XCode command line tools (`xcode-select --install`). I think the XCode tools were the real fix - after installing them, I no longer had to set `C_INCLUDE_PATH` to build either.

I thought I had installed these before, but apparently the

[2016-09-21 12:49] pitbulk opened #30 "Can you test if the builds/tests fail now on Travis?"
At [python3-saml](https://github.com/onelogin/python3-saml) I experienced that Travis fails with
python 2.7.12, 3.3.5, 3.3.6, 3.4.3, 3.5.0

[code]

I wonder if you can run travis and see if you experience a similar issue on python-xmlsec.

[2016-09-26 14:36] catmeme opened #31 "Docker build just started failing"
For months, we've had a docker image that uses xmlsec that worked flawlessly. This morning, a few developers tried rebuilding and started receiving the following error:

[code]

Python: 3.4.4
Pip: 8.1.2
Setuptools: 18.2

Here's an excerpt from our Dockerfile to give you an idea of what we're doing:

[code]

We also tried adding the following deps: `python-lxml, libxmlsec1-openssl pkg-config` to no

[2016-09-26 15:02] yannispanousis commented on #31
+1

[2016-09-26 15:02] mbarrien commented on #31
Cython just released a version 0.25a0 that appears to be killing out builds. https://groups.google.com/forum/#!topic/cython-users/558LV9YnW7g seems to indicate they think this is an alpha version that shouldn't be pulled in, but obviously this isn't the case.

[2016-09-26 15:23] catmeme commented on #31
Any recommendations on versions we should pin?

Cython, python-xmlsec and pysaml2?

[2016-09-26 15:25] yannispanousis commented on #31
`Cython==0.24.1` works for me. But the only way I could install it was via `easy_install` and not `pip`.

So my workaround was:

[code]

[2016-09-26 15:42] catmeme commented on #31
hmm, thanks @yannispanousis but here's what I have in my requirements.txt after pip-compile:

[code]

Before running pip-sync requirements.txt -- looks like I have the proper version pinned but still getting the error.

Any ideas?

[2016-09-26 16:30] mbarrien commented on #31
pip installing cython==0.24.1 before installing xmlsec works for me on the platforms I've tested (OS X with Python 3.5 and Ubuntu 12.04 with Python 3.4). Trying to "pip install cython==0.24.1 xmlsec" or install simutaneously in a requirements.txt file seems to fail.

[2016-09-26 16:45] catmeme commented on #31
@mbarrien Thanks, installing cython with pip prior to my requirements did it!

[2016-09-27 09:18] aop opened #32 "Segfault when running test on old version of libxml2"
Hi,

I'm trying to debug a very tedious problem, my program is using python-xmlsec and I'm running tests on it on CircleCI Ubuntu 12.04 and for some reason I'm always getting a segfault.

This is the command and the output I currently run

[code]

And this is the contents of my `asd.py` located in the "tests" folder

[code]

So far I'm unable to reproduce the issue anywhere else than in CircleCI's

[2016-09-27 17:22] mbarrien commented on #31
https://groups.google.com/d/msg/cython-users/558LV9YnW7g/Hv0PdvtmAwAJ says that they have withdrawn Cython 0.25a0 from pypi, so this shouldn't be an immediate problem now, since 0.24.1 is the highest version available. However this does point to either python-xmlsec or setuptools_cython using old install tools in its setup.py that don't use modern pip version aware version parsing. This may need a

[2016-10-01 23:01] yugandhar91 opened #33 "fatal error: Python.h: No such file or directory"
During installation, I'm getting the following error.

[code]

I have followed the readme file and installed all the dependencies before running pip install xmlsec.

I'm on CentOS 7. Python 3.4. My env has an entry for C_INCLUDE_PATH as the following -
`C_INCLUDE_PATH=/usr/include/xmlsec1:/usr/include/libxml2`

[2016-10-14 09:15] mjtalbot opened #34 ""High" memory required to install"
Firstly thank you for the library!

It might be worth pointing out in the readme that this library will not install on systems with 512 memory (t2.nano) on t2.micro it works fine though. (I know for modern computers this isnt very high, but maybe as people move towards micro services / containers this becomes more relevant)

[2016-10-14 11:22] yugandhar91 commented on #33
Yes, I did.

Forgot to update it here, I was able to get around this issue. The problem seems to be with not enough resources. I always got the above errors when trying to install this on a VM with 512 MB RAM. Then I tried installing on a machine with greater amount of RAM (2 GB) and it worked flawlessly.

[2016-10-14 15:18] pitbulk commented on #30
ping!

[2016-10-14 15:19] pitbulk commented on #28
Here:
https://travis-ci.org/onelogin/python3-saml/jobs/167668391

[2016-10-16 19:27] bgaifullin commented on #28
Hi, @pitbulk I cannot reproduce this issue on ubuntu-16 with xmlsec 0.6.1 and libxmlsec 1.2.20 and 1.2.21. Could you add command to your travis.yml file to dump libxmlsec1 version. Seems like this issue is related to version of libxmlsec1

[2016-10-17 07:26] bgaifullin commented on #28
the command is 'apt-cache show libxmlsec1'

[2016-10-17 08:35] pitbulk commented on #28
Here is: https://travis-ci.org/onelogin/python3-saml/jobs/168212377

[2016-10-17 08:41] pitbulk commented on #28
libxml2  Version: 2.8.0+dfsg1-5ubuntu2.2~precise1
libxmlsec1 Version: 1.2.14-1.2build1

[2016-10-18 11:00] bgaifullin commented on #28
@pitbulk thanks, I can investigate this issue only at the weekend.

[2016-10-18 11:04] pitbulk commented on #28
Ok, let me know if you need anything else.

[2016-10-23 21:24] bgaifullin commented on #28
@pitbulk,
I cannot reproduce this fail on ubuntu12.04 with libxmlsec1 version 1.2.14-1.2build1.
Lets try to print backtrace when tests fails:
There is some instructions, how to do this:

Put the following in backtrace
[code]

Put this in a script called seg_wrapper.sh
[code]

to launch tests, please use script seg_wrapper.sh
[code]

PS:
need to add installation for gdb in your travis file.

[2016-10-25 12:19] pitbulk commented on #28
Sorry for the delay.

Here is the info you requested:
https://travis-ci.org/onelogin/python3-saml/jobs/170436827

[2016-10-25 20:20] mvid commented on #31
I have this issue, and I am not using Cython.

[2016-10-25 20:38] mvid commented on #31
Looks like the new version of Cython, 0.25

Even when I pin the install version to 0.24.1 it still installs 0.25 during the xmlsec installation.

[2016-10-25 20:55] catmeme commented on #31
@mvid, I had to `pip install cython==0.24.1`, then install my requirements per @mbarrien's comments above, "install simultaneously in a requirements.txt file seems to fail"

My Dockerfile now contains:

[code]

[2016-10-25 20:57] mvid commented on #31
@catmeme yea that works for me now. Thanks!

This still seems like an issue with xmlsec though.

[2016-11-06 21:45] bgaifullin commented on #28
@pitbulk Could you try this patch. https://github.com/bgaifullin/python-xmlsec/commit/0f046381ec6bac7b3dd8b2ad6da0d022e7b30274

And please add env variable: "CFLAGS='-Wall -O0 -g' " in travis file, this should help to display function names in stack trace instead of addresses.

[2016-11-07 14:01] pitbulk commented on #28
I [targeted the last commit](https://github.com/onelogin/python3-saml/pull/31/files#diff-2eeaed663bd0d25b7e608891384b7298R39).

I added the env variable but it seems is not working since I see addresses no function names.

https://travis-ci.org/onelogin/python3-saml/jobs/173896434

[2016-11-07 18:40] bgaifullin commented on #28
I see.
I will continue investigation, thank you @pitbulk

[2016-11-07 18:49] pitbulk commented on #28
You can create in python-saml your own PR and apply any change you want on travis.

[2016-11-07 18:56] bgaifullin commented on #28
I think about this, it would be better to create tests in python-xmlsec, which reproduces this fail.

[2016-11-18 19:22] lopow opened #35 "I can not install xmlsec on Windows 8.1"
Command "python setup.px egg_info" failed with error code 1 in c:\Usrers.....

This my error,

[2016-12-17 12:15] pitbulk commented on #28
@bgaifullin, Any progress with this issue?

[2017-01-02 09:05] ynalcakan opened #36 "Signing with Smart Card"
Hello,

I am trying to sign with a smart card but I couldn't find a way to do this. Is there a method for that ?

Thanks.

[2017-01-08 17:44] bgaifullin commented on #28
I was very busy last 2 month and actually I do not have idea how to resolve this issue unfortunately.
I just recognised that this issue reproduces only with version of python from travis-ci.

[2017-01-08 17:45] bgaifullin commented on #32
seems like this issue is related to #28

[2017-01-22 18:39] bgaifullin commented on #28
@pitbulk  I rewrote full library on pure C #37. this will help to resolve all issues related to versions of python, libxmlsec1 and other system libraries.

unfortunately I do not have time to run pyhton3-saml with the new version.  Could you help with this.

[2017-01-22 18:41] bgaifullin commented on #19
@asottile I believe after merge this PR #37, It will be easy to fix this problem.

[2017-01-22 18:42] bgaifullin commented on #32
Hi, @aop could you run your code against this PR #37

[2017-01-22 18:43] bgaifullin commented on #24
@aop Could you test your case with this PR #37.

[2017-01-22 18:45] asottile commented on #19
We've since backported xmlsec1 to lucid (from something newer) and are no longer experiencing this problem.  It's probably not worth extra effort to support lucid anyway ;)

[2017-01-22 18:45] #19 closed

[2017-01-23 09:16] pitbulk commented on #28
@bgaifullin your xmlsec branch mentions version 1.0.1

I modified python3-saml with
[code]

but when running python setup.py install
[code]

[2017-01-23 09:52] bgaifullin commented on #28
@pitbulk I install xmlsec, and python3-saml to virtualenv and runs python3-saml tests.

[2017-01-23 09:53] pitbulk commented on #28
but how you installed your version of xmlsec?

[2017-01-23 10:08] bgaifullin commented on #28
`{path to venv}/bin/pip install -e .`

[2017-01-23 10:29] pitbulk commented on #28
That installed xmlsec-0.6.1, but not your version

[2017-01-23 11:57] bgaifullin commented on #28
@pitbulk please provide full list of commands which are you used.
I invoked the following commands, step by step:
[code]

[2017-01-23 13:12] pitbulk commented on #28
Executing pip install -e . on python-xmlsec with python2.7.6 I got:
[code]

[2017-01-23 13:40] bgaifullin commented on #28
@pitbulk, Oh, I got it. thank you.

[2017-01-23 13:46] bgaifullin commented on #28
@pitbulk I pushed new version to [bgaifullin/python-xmlsec](https://github.com/bgaifullin/python-xmlsec)

[2017-01-23 14:54] pitbulk commented on #28
I installed successfully on python2.7.6 and python3.4 but when executing the python setup.py test I got:
[code]

[2017-01-23 15:05] bgaifullin commented on #28
@pitbulk do you have install xmlsec-openssl or other crypto library for xmlsec ?
please provide output of the command `pkg-config --cflags xmlsec1`

[2017-01-23 15:07] pitbulk commented on #28
pkg-config --cflags xmlsec1
-DXMLSEC_CRYPTO=\"openssl\" -DXMLSEC_CRYPTO_DYNAMIC_LOADING=1 -D__XMLSEC_FUNCTION__=__FUNCTION__ -DXMLSEC_NO_SIZE_T -DXMLSEC_NO_GOST=1 -DXMLSEC_NO_XKMS=1 -DXMLSEC_DL_LIBLTDL=1, -I/usr/local/include/xmlsec1 -I/usr/include/libxml2

[2017-01-23 15:18] bgaifullin commented on #28
@pitbulk is library xmlsec-openssl installed?

[2017-01-23 15:32] bgaifullin commented on #28
@pitbulk one more question, in what OS are you tested?

[2017-01-23 15:34] pitbulk commented on #28
I'm using Ubuntu 14.04.4 LTS

[2017-01-23 16:14] bgaifullin commented on #28
I tried on Ubuntu 14.04.5 LTS.
install the following packages.
[code]
pkg-config xmlsec1 output is:
[code]

the main difference between option `DXMLSEC_NO_CRYPTO_DYNAMIC_LOADING=1`

Please check that path to library libxmlsec1-openssl.so is available.

this library shall be in directory /usr/lib/
check that all dependencies are satisfied:
`ldd {path to libxmlsec1-openssl.so}`

you can also check x

[2017-01-23 16:51] pitbulk commented on #28
those packages are installed.
and I have the /usr/lib/libxmlsec1-openssl.so

[code]

[code]

On that machine was working the other version of python-xmlsec library so I'm lost why there is a xmlsec issue.

[2017-01-23 17:42] bgaifullin commented on #28
@pitbulk There is 2 installation of libxmlsec1.
One of in directory /usr/lib, and another in directory /usr/local/lib

Could you remove them and install the libxmlsec1 from scratch?

[2017-01-23 17:58] pitbulk commented on #28
I will test in a fresh laptop, right now no idea how I installed /usr/local/lib/libxmlsec1 so don't know if removing it will break something.

[2017-01-23 18:29] pitbulk commented on #28
On a fresh machine that uses python3.5 I was able to execute the test pn python3-saml, but got a segmentation fault.

This is what I got:
[code]

[2017-01-23 19:34] bgaifullin commented on #28
@pitbulk, thank you for help, I will investigate this.

[2017-01-23 19:36] pitbulk commented on #28
let me know if you want me to try anything, now that we are able to reproduce the issue on a local machine ;)

[2017-01-29 19:02] bgaifullin commented on #28
Hi.
there is ci, which passes on latest commit from python-xmlsec.
https://travis-ci.org/bgaifullin/python3-saml/builds/196381841
There is only one problem, I used ubuntu:trusty for python3.5, since
version of libxml2 which provides by ubuntu-precise do not work with
python3.5. there is issue with memory allocation in libxml2 and I do not
know how to fix it.

Travis currently allows to use ubuntu

[2017-02-01 10:16] pitbulk commented on #28
Hi @bgaifullin

I installed your version of python3-saml and last version of python-xmlsec and test pass on python3-saml for python and python3 ;)

[2017-02-01 10:18] bgaifullin commented on #28
Hi @pitbulk , many thanks for your help with testing.

[2017-02-14 08:20] bgaifullin commented on #28
I think the issue can be closed.
I have updated README.md with minimal required versions of libxml2 and libxmlsec1, also I added instructions how to install python-xmlsec on ubuntu:precise.

[2017-02-14 08:20] #28 closed

[2017-02-14 08:23] bgaifullin commented on #34
Hi @mjtalbot, can you check with version 1.0.1

[2017-02-14 08:25] bgaifullin commented on #35
Hi @lopow, Can you check with version 1.0.1 and provide detailed output of installation. pip -v - enables verbose mode and shows more details.

[2017-02-14 08:27] bgaifullin commented on #33
@yugandhar91 thank you for report, there is another issue related to memory requirements #34, so I close this.

[2017-02-14 08:27] #33 closed

[2017-02-14 08:30] bgaifullin commented on #32
There is problem with memory manamgent in libxml2 and I cannot manage this from python-xmlsec code. I specified in README.md minimal required versions of libxmlsec1 and libxml2, and I added instructions how to install required versions manually, so I close this issue.

[2017-02-14 08:30] #32 closed

[2017-02-14 08:33] bgaifullin commented on #31
The python-xmlsec was rewritten on pure C and there is no more cython is required for building.
I close this bug because it is not obsolete.

[2017-02-14 08:33] #31 closed

[2017-02-14 08:36] bgaifullin commented on #30
I hope the issue with travis was resolved. to run tests on ubuntu:precise need to install libxml2 manually or need to use ubuntu:trusty image with travis:ci, there is instructions how to switch on ubuntu:trusty. https://docs.travis-ci.com/user/trusty-ci-environment/#Using-Trusty

[2017-02-14 08:36] #30 closed

[2017-02-14 08:39] bgaifullin commented on #24
The new version 1.0.1 was released. currently this issue is obsolete, since 1.0.1 is written on pure C.
@aop could you check with latest version of python-xmlsec and if it also does not work for you fire new issue.
This I will close as obsolete.

[2017-02-14 08:39] #24 closed

[2017-02-14 17:59] brad opened #39 "ImportError: No module named pkgconfig"
I can't install the latest version (1.0.1):
[code]

[2017-02-14 18:06] marcus-ahle commented on #39
Running into this same issue as well when trying to pip install python3-saml. It worked when installing 0.6.1 of xmlsec, but now with 1.0.1 out it fails with the same `ImportError: No module named pkgconfig` error.

A direct pip install of 1.0.1 fails as well.
python version: 3.4.4

[2017-02-14 18:32] bgaifullin commented on #39
Hello, thank you for report. I will provide fix as soon as possible.
As workaround I can suggest this:
[code]

[2017-02-14 23:07] bgaifullin commented on #39
fixed in version 1.0.4

[2017-02-14 23:07] #39 closed

[2017-02-14 23:17] brad commented on #39
Wow! Thanks for the quick update @bgaifullin 👍

[2017-02-15 13:54] bgaifullin opened #45 "Create documentation"
Need to build documentation for library.
The documentation should be gathered from doc strings automatically, it may be required updating doc-strings for some of methods.
The documentation should be in RST format and it should publish on each release to
 http://pythonhosted.org/xmlsec

[2017-02-16 21:21] StephenBrown2 commented on #26
It appears that this issue has resurfaced, now that the module was rewritten in C...

I'm getting
[code]
Trying to pip install python-xmlsec 1.0.4 with xmlsec version 1.2.22-r1 on alpine 3.4

[2017-02-16 21:30] StephenBrown2 opened #46 "Issue with 1.0.4 on alpine linux xmlsec 1.2.22-r1 (Reopen #26)"
It appears that issue #26 has resurfaced, now that the module was rewritten in C...

I'm getting
[code]
Trying to pip install python-xmlsec 1.0.4 with xmlsec version 1.2.22-r1 on alpine 3.4

[2017-02-17 09:19] bgaifullin commented on #46
Thank you for your report.
the issue was fixed in 1.0.5 (it is available from pypi now)

[2017-02-17 09:19] #46 closed

[2017-03-07 09:29] mosasiru opened #48 "import xmlsec causes error"
I installed  python-xmlsec 1.0.5 with pip.  (imported by python3-saml).
`import xmlsec` causes below error.

[code]

OS: Amazon Linux 2016.09
python 3.5.2.
installed package is below.

[code]

[code]

[2017-03-07 12:49] bgaifullin commented on #48
Hi @mosasiru. Thank you for issue report.
Could you also provide output from the following command:
`pkg-config --cflags xmlsec1`

[2017-03-07 13:34] mosasiru commented on #48
thank you.

[code]

[2017-03-07 14:07] bgaifullin commented on #48
@mosasiru , could you please check this PR #49

[2017-03-07 14:08] bgaifullin commented on #48
you need to checkout source, update main.c according to PR, build xmlsec from sources and try again.

[2017-03-07 14:20] mosasiru commented on #48
pip install failed. here is the part of error message.

[code]

[2017-03-07 14:43] bgaifullin commented on #48
I have updated PR.
PS
Unfortunately this branch is not covered by tests and I do not have machine were xmlsec is configured for using dynamic loading. :(

[2017-03-07 14:47] mosasiru commented on #48
thank you. error messaged changed.

[code]

[2017-03-07 15:01] bgaifullin commented on #48
update again :)

[2017-03-07 15:07] mosasiru commented on #48
It works!! `import xmlsec` successed!
Thank you very much!

[2017-03-07 15:11] bgaifullin commented on #48
Thank you for help with addressing this.
I will release new version with fix.

[2017-03-07 15:30] bgaifullin commented on #48
fixed in 1.0.6

[2017-03-10 15:42] sindrig commented on #48
Getting the same error on Manjaro.
xmlsec1 v1.2.23
libxml2 v2.9.4
`
(venv) sindri->~ $ xmlsec1-config --cflags
-D__XMLSEC_FUNCTION__=__func__ -DXMLSEC_NO_SIZE_T -DXMLSEC_NO_GOST=1 -DXMLSEC_NO_GOST2012=1 -DXMLSEC_DL_LIBLTDL=1 -I/usr/include/xmlsec1 -I/usr/include/libxml2 -DXMLSEC_CRYPTO_DYNAMIC_LOADING=1
(venv) sindri->~ $ xmlsec1-config --crypto
openssl
(venv) sindri->~ $ xmlsec1-config --libdir
/

[2017-03-10 16:46] bgaifullin commented on #48
@sindrig thank you for report. I will provide fix soon.

[2017-03-10 16:48] bgaifullin opened #50 "XMLSEC_CRYPTO is deprecated since xmlsec 1.2.21"
XMLSEC_CRYPTO is deprecated. need to use function xmlSecGetDefaultCrypto instead.
https://github.com/lsh123/xmlsec/blob/xmlsec-1_2_21/include/xmlsec/xmlsec.h#L98

[2017-03-10 17:38] sindrig commented on #48
Thanks, let me know if I can provide more info or help in any way :+1:

[2017-03-10 17:45] bgaifullin commented on #48
there is PR. #51

[2017-03-10 17:45] bgaifullin commented on #48
@sindrig it would be great if you check that this fix works for you

[2017-03-10 18:50] sindrig commented on #48
Confirmed it works. Thanks for the brilliantly fast response!

[2017-03-10 20:13] bgaifullin commented on #48
Fix released 1.0.7

[2017-03-10 20:13] #48 closed

[2017-03-10 20:14] bgaifullin commented on #50
fix release 1.0.7

[2017-03-10 20:14] #50 closed

[2017-03-10 20:17] bgaifullin opened #52 "[deploy] added valid pypi token for auto-deployment from travis."
need to add credentials for pypi into travis.yaml. the detailed instructions can be found here:
https://docs.travis-ci.com/user/deployment/pypi/

[2017-03-29 14:32] danielkalenda opened #54 "PIP install raises error with python 3.4"
first error here:
[code]

second error

`bin/python3 -u -c "import setuptools, tokenize;__file__='/private/var/folders/mq/s81xm_kn23n4_kk79z5f25gr0000gq/T/pip-rms9723j-build/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /var/folders/mq/s81xm_kn23n4_kk79z5f25gr0000gq/T/pip-siiwo1qp-record/i

[2017-03-29 16:34] bgaifullin commented on #54
Hi @danielkalenda
Do you install all requirements from README, libxml2-dev libxmlsec1-dev libxmlsec1-openssl ?
There is no way to specify this requirements in pip, because it depends on OS and package manager which is default for OS.

[2017-03-29 16:35] bgaifullin commented on #54
also please attach the output of command `pkg-config --cflags xmlsec1`

[2017-03-30 14:45] bgaifullin commented on #54
@danielkalenda, do you still need help?

[2017-03-31 08:26] danielkalenda commented on #54
@bgaifullin Thanks it appears the libs were missing! Cheers Daniel

[2017-03-31 09:38] bgaifullin commented on #54
@danielkalenda, you are welcome.
I will close the issue.

[2017-03-31 09:38] #54 closed

[2017-04-07 14:09] vioan commented on #48
It seems that I have the same error on SLES12:
xmlsec (1.0.7)

[code]

[2017-04-07 14:14] bgaifullin commented on #48
Hi @vioan
Please provide output of command `pkg-config --cflags xmlsec1`
and check that `libxmlsec1-openssl` is available from `LD_LIBRARY_PATH`

[2017-04-07 14:18] vioan commented on #48
Thanks a lot for the fast reply. I just installed `libxmlsec1-openssl` and now the import works. Here is also the output for `pkg-config --cflags xmlsec1` after the installation of the mentioned package:
[code]

[2017-04-07 14:23] bgaifullin commented on #48
You are welcome.

[2017-04-11 19:50] charlescbeebe opened #55 "Symbol not found: _xmlFree on OS X"
Installed the latest version of python-xmlsec (1.0.7) via pip, but now my tests break with:

[code]

I've previously installed it successfully in one venv on my machine, but for the life of me cannot reproduce that successful reinstall. I know very little about compilation, but I suspect that the important difference between the working and non-working copies is what libraries they're linked to.

[2017-04-11 21:03] mehcode commented on #52
Fixed 0af398f

[2017-04-11 21:03] #52 closed

[2017-04-11 21:26] bgaifullin commented on #55
Hi. Can you please attach output of the following command:
'''pkg-config --cflags xmlsec1'''

[2017-04-12 13:39] charlescbeebe commented on #55
[code]

[2017-04-12 14:49] bgaifullin commented on #55
I am sorry, I make mistake. need linker flags
```pkg-config --libs xmlsec1```

[2017-04-12 14:55] bgaifullin commented on #55
the workarround is put libxml2 into ldd search path. /usr/lib/ or /usr/local/lib.  this should help.
```ln -sf ../opt/libxml2/lib/libxml2.2.dylib /usr/local/lib/```

[2017-04-12 15:11] charlescbeebe commented on #55
[code]

[2017-04-12 15:12] bgaifullin commented on #55
need to add this patch `/usr/local/Cellar/libxml2/2.9.4_2/lib` into ldd search patches.

[2017-04-12 15:16] charlescbeebe commented on #55
After `brew link --force libxml2`:

[code]
You're a miracle worker! Tests pass now.

[2017-04-12 15:16] #55 closed

[2017-05-14 18:06] bgaifullin commented on #21
@cynddl please check that this approach works for you.

[2017-05-14 18:07] bgaifullin commented on #34
close the issue since there is no activity for 3 months.

[2017-05-14 18:07] #34 closed

[2017-05-17 18:13] subssn21 commented on #21
I was having all sorts of problems installing and following bluekeyes instructions fixed the issue:

[code]

[2017-05-17 23:19] JonnathanCalderon commented on #1
Im on windows 7 Ultimate 64bits with Python3.6.

pip install zeep[xmlsec]

C:\Users\Trump>pip install zeep[xmlsec]
Requirement already satisfied: zeep[xmlsec] in c:\users\trump\appdata\local\programs\python\python36-32\lib\site-packages
Requirement already satisfied: defusedxml>=0.4.1 in c:\users\trump\appdata\local\programs\python\python36-32\lib\site-packages (from zeep[xmlsec])
Requirement alre

[2017-05-18 06:45] bgaifullin commented on #1
Hi @JonnathanCalderon, thank you for contribution. Seems like you issue related to #16
Could you please try to install pkg-config by following this instructions:
http://stackoverflow.com/questions/1710922/how-to-install-pkg-config-in-windows

[2017-05-18 06:48] bgaifullin commented on #21
@subssn21 thanks, I will update Readme according to this instructions

[2017-05-19 09:46] bgaifullin commented on #35
Im on windows 7 Ultimate 64bits with Python3.6.

pip install zeep[xmlsec]

C:\Users\Trump>pip install zeep[xmlsec]
Requirement already satisfied: zeep[xmlsec] in c:\users\trump\appdata\local\programs\python\python36-32\lib\site-packages
Requirement already satisfied: defusedxml>=0.4.1 in c:\users\trump\appdata\local\programs\python\python36-32\lib\site-packages (from zeep[xmlsec])
Requirement alre

[2017-05-19 09:48] bgaifullin commented on #35
Could you please try to install pkg-config by following this instructions:
http://stackoverflow.com/questions/1710922/how-to-install-pkg-config-in-windows
 @JonnathanCalderon

@JonnathanCalderon commented 13 hours ago

Greetings, thanks for your quickly response and please apologize my English. I had followed that two steps, about installing the pkg-config-lite and downloading the binaries but nei

[2017-05-19 09:49] bgaifullin commented on #1
@JonnathanCalderon I moved discussion here #35, because it is more relevant to your issue, this this one.

[2017-05-19 19:49] bgaifullin commented on #35
After installing pkg-config into your machine it is became available from cmdline.
I mean, that the following command in cmdline should completed successfully:
[code]
if it is not, please add path to pkg-config binary to the system environment variable `PATH`
Unfortunately I do not have any windows running machine and cannot reproduce this issue by myself.

[2017-05-20 19:49] bgaifullin commented on #35
@JonnathanCalderon, I think the better way is to specify environment variable PKG_CONFIG with full path to file pkg-config

[2017-05-20 21:39] #45 closed

[2017-05-20 21:39] bgaifullin commented on #21
updated instructions.

[2017-05-20 21:39] #21 closed

[2017-05-22 18:59] bgaifullin commented on #14
Now, xmlsec has methods to add [issuer_serial](http://pythonhosted.org/xmlsec/modules/template.html#xmlsec.template.x509_data_add_issuer_serial) and [issuer_subject_name](http://pythonhosted.org/xmlsec/modules/template.html#xmlsec.template.x509_data_add_subject_name).
You can find details in [documentation](http://pythonhosted.org/xmlsec/)

[2017-05-22 18:59] #14 closed

[2017-05-24 18:08] sinfloodmusic commented on #35
FYI I had a a similar error on Mac OSX.  After installing pkg-config ('brew install pkg-config') I was able to run a 'pip install xmlsec' successfully within a python3 virtual env.

[2017-05-25 01:43] neoecos opened #59 "Add support for xmlSecTmplTransformAddC14NInclNamespaces"
Hi,

For consuming a SOAP WebService with required Signature, the Transform should contain a InclusiveNamespaces tag, as defined in the EXC_C14.

Those call aren't implemente yet in the python-xmlsec wrapper.

[2017-05-25 20:06] bgaifullin commented on #59
Released in version 1.0.9

[2017-05-25 20:06] #59 closed

[2017-05-25 20:07] bgaifullin commented on #59
http://pythonhosted.org/xmlsec/modules/template.html#xmlsec.template.transform_add_c14n_inclusive_namespaces

[2017-05-30 11:29] Niodiai opened #61 "/"

[2017-05-30 11:29] #61 closed

[2017-05-30 11:29] Niodiai commented on #61
Sorry, not sure how this happened :)

[2017-05-30 15:21] bgaifullin commented on #35
@JonnathanCalderon, Could you try to install with specifying PKG_CONFIG variable ?

[2017-06-21 00:54] rouge8 opened #62 "Missing tag for 0.6.1"
It'd be helpful to have tags on GitHub for all of the PyPI releases if possible. We're unable to use 1.0.x because of memory leaks (working on a minimal example for a separate issue). In the meantime, there's a tag for 0.6.0 on GitHub, but a 0.6.1 release on PyPI.

[2017-06-21 10:40] bgaifullin commented on #62
@rouge8 if I create tag for version 0.6.1  the chronology of tags will be broken. I prefer to avoid this,
it would be great if you switch to version 1.0.x. I will help you to do this.
It would be great if you provide minimal example for memory leaks. it would be really helpful.

[2017-06-21 10:41] bgaifullin commented on #62
the version 0.6.1 was release from commit d7feedf241b5fc034cff1f1b46248bb9ed0cef55

[2017-06-21 10:42] bgaifullin commented on #62
I can create branch for version 0.6.1, does it work for you ?

[2017-06-21 15:06] rouge8 commented on #62
@bgaifullin as long as you don't create a release (just a tag), the chronology should be fine, e.g. https://github.com/rouge8/python-xmlsec/releases

[2017-06-21 15:42] bgaifullin commented on #62
@rouge8  I mean chronology of tags https://github.com/mehcode/python-xmlsec/tags

[2017-06-21 15:48] rouge8 commented on #62
Sure, and adding 0.6.1 shows up on July 5, 2016:
https://github.com/rouge8/python-xmlsec/tags

On Wed, Jun 21, 2017 at 8:42 AM, Bulat Gaifullin <notifications@github.com>
wrote:

[2017-06-21 16:10] bgaifullin commented on #62
O, I do not know about this. Thank you :)

[2017-06-21 16:18] bgaifullin commented on #62
@rouge8 How you do this, when I creating tag, it becames at top position.

[2017-06-21 16:23] bgaifullin commented on #62
@rouge8 done. I have created tag 0.6.1, thank you for help.

[2017-06-21 16:23] #62 closed

[2017-06-26 18:37] rouge8 opened #63 "KeysManager not freeing memory after use"
With xmlsec==1.0.9, this function uses ~1MB of memory for `xmlsec.KeysManager()` on each call, that is never freed. With xmlsec==0.6.1, the memory seems to be freed when exiting the function.

[code]

It also looks like our signing function leaks ~0.1MB/call with xmlsec==1.0.9:

[code]

[2017-06-28 20:13] bgaifullin commented on #63
@rouge8 I prepare patch to fix this issue, could you check branch fix_memory_leaks, it should fix memory leak in first function.

[2017-06-28 22:39] rouge8 commented on #63
@bgaifullin this is definitely an improvement. it still seems to be leaking some memory, but my guess is that's in signing rather than encryption?

[2017-07-01 11:21] bgaifullin commented on #63
@rouge8 I found and fixed yet another leak. Could you please check again ?

[2017-07-01 20:31] rouge8 commented on #63
Yeah, #64 seems to fix the leaks I was seeing! Thanks!

[2017-07-02 09:42] bgaifullin commented on #63
@rouge8,  thank you for help. I release new version as soon as http://pythonhosted.org will be recovered.

[2017-07-04 03:59] rouge8 commented on #63
@bgaifullin looks like it's back. It was down for several days which is a little worrying 😱

[2017-07-04 03:59] #63 closed

[2017-07-04 09:17] bgaifullin commented on #63
Fix in version: 1.1.0

[2017-07-04 09:23] bgaifullin opened #65 "Move documentation to https://readthedocs.org/"
Uploading to pythonhosted.org is not supported anymore.
[code]
It needs to move documentation to https://readthedocs.org/

[2017-07-07 16:09] luoy2 commented on #35
Is this issue got solved? I am trying to install it on windows 10 with python 3.6 and got following error info:
[code]

I tried to remove the linux commands in `setup.py` file `#cflags = ["-g", "-std=c99", "-fno-strict-aliasing", "-Wno-error=declaration-after-statement", "-Werror=implicit-function-declaration"]` and did a manually install of `pip install -e "."`, then I got the followings:

[code]

[2017-07-07 16:32] bgaifullin commented on #35
@luoy2,

1. please try with the following std flags.
[code]
2.  do you install xmlsec source files in your machine ?, if yes, you need to add path to xmlsec include files to cflags, you can compete this by adding option '-I<path to xmlsec include files>'

3. can you evaluate the following python code and add here its output
[code]
and

[code]

[2017-07-10 13:32] luoy2 commented on #35
@bgaifullin
Hi,
I tried the 3 instructions you listed above and here is the results:
1.
[code]
2.
trying -cflag as following:
[code]
results:
[code]
cflags:
[code]
results:
[code]

3.
[code]
[code]

[2017-07-11 14:40] bgaifullin commented on #35
@luoy2 Thanks.
I see 2 issues here:
1.  Compilation flags are incompatible with visual studio compiler.
2. pkgconfig does not return proper compiler flags for xmlsec

How to fix:
1.  Please install xmlsec library for windows. you can find source code or windows binaries here: https://www.aleksey.com/xmlsec/download.html
2. Please specify cflags manually:

["-g", "-std=c99", "-fno-strict-aliasing",

[2017-07-11 14:43] bgaifullin commented on #35
@luoy2 unfortunately I do not have any windows machine and I am not able to prepare the list of steps which works. I need your help with this issue.

[2017-07-11 15:26] luoy2 commented on #35
@bgaifullin
Thanks, I downloaded the xmlsec binary files and put them into a single folder;
I put the binary i downloaded at the location `C:/Users/xxx/Documents/libxml/xmlsec/`
which file structure were as followings:

[code]

Then I used the cflags as above:
[code]
for which I got the following error:
[code]

I double checked the xmlsec path and there is a `version.h` file inside; did I put the

[2017-07-11 22:45] bgaifullin commented on #35
@luoy2, ok.
Please add here content of file C:/Users/xxx/Documents/libxml/xmlsec/lib/pkgconfig

and try with the following cflags:
[code]

[2017-07-12 14:48] luoy2 commented on #35
@bgaifullin thanks,
[code]

after changed `crypto.h` file
[code]
to
[code]
Obtaining file:///C:/Users/xxx/Downloads/python-xmlsec
Requirement already satisfied: pkgconfig in c:\users\xxx\anaconda3\lib\site-packages (from xmlsec==1.0.1)
Requirement already satisfied: lxml>=3.0 in c:\users\xxx\anaconda3\lib\site-packages (from xmlsec==1.0.1)
Installing collected packages: xmlsec
  Running setup.py d

[2017-07-12 21:15] bgaifullin commented on #35
@luoy2 Could you please show content of file C:/Users/xxx/Documents/libxml/xmlsec/lib/pkgconfig

it needs to specify macros for crypto engine. I think after that it also requires path to openssl headers.
If you do not have openssl headers, please install them and specify path to openssl headers by using "/I",

[code]

PS
Please do not forget to revert crypto.h.

[2017-07-13 14:43] luoy2 commented on #35
@bgaifullin
under pkgconifg i got 2 files:
[code]
[code]

and after revert `crypto.h` and using the cflags:
[code]

[2017-07-13 14:44] luoy2 commented on #35
really appreciate your help!

[2017-07-13 16:19] bgaifullin commented on #35
@luoy2 please provide content of both files. They should contain proper compiler and linker flags.

Seems like you installed old version of libxmlsec

Please add the following option to the cflags:

"/DXMLSEC_CRYPTO=\"openssl\""

[2017-07-13 16:21] luoy2 commented on #35
@bgaifullin
[code]

[code]

[2017-07-13 20:48] bgaifullin commented on #35
@luoy2 I prepared [branch](https://github.com/mehcode/python-xmlsec/tree/windows_build) with fix for build on windows, this branch contains all fixes which we made previously.

Please set env variable 'XMLSEC_INSTALL_PATH=C:/Users/xxx/Documents/libxml/xmlsec/' before running setup.py

[2017-07-13 21:00] luoy2 commented on #35
@bgaifullin
thanks for the branch! after clone it and get the following error as before:
[code]

and after modified cflag in `setup.py`
[code]
got the result similar:
[code]

[2017-07-13 21:05] bgaifullin commented on #35
@luoy2  updated

[2017-07-14 13:18] luoy2 commented on #35
@bgaifullin thanks,
[code]

[2017-07-14 17:30] bgaifullin commented on #35
@luoy2, We are on right way :)

Please provide list of file in the following folders:

C:/Users/xxx/Documents/libxml/xmlsec/lib/
C:/Users/xxx/Documents/libxml/xmlsec/bin/

[2017-07-14 17:49] luoy2 commented on #35
@bgaifullin good news to hear!
under `C:/Users/xxx/Documents/libxml/xmlsec/lib/`:
[code]
under  `C:/Users/xxx/Documents/libxml/xmlsec/bin/`
[code]

[2017-07-14 17:55] bgaifullin commented on #35
@luoy2 updated.
If there will be error with ssl or crypto, you can try with libssl and libcrypto:
need to modify setup.py line 106

[2017-07-14 18:00] luoy2 commented on #35
@bgaifullin yes, i did get a crypto error and I am not sure what do you mean by modify it:
[code]

[2017-07-14 18:55] bgaifullin commented on #35
@luoy2  I have updated branch again.
There is comment on line 107 in file setup.py, what need to do if linkage again breaks with error

[2017-07-17 14:07] luoy2 commented on #35
@bgaifullin
couldnt find `libexslt.lib`
[code]

[2017-07-17 15:05] bgaifullin commented on #35
@luoy2
You can install libxml2 and libexslt from here: https://www.zlatkovic.com/libxml.en.html

[2017-07-17 15:11] bgaifullin commented on #35
Before this, lets try without libexlst. I prepare path.

[2017-07-17 15:13] bgaifullin commented on #35
@luoy2 I removed the libxml2* libraries from linker options. Could you please try to build last version.

[2017-07-18 18:15] bgaifullin commented on #35
@luoy2, Can you check the last version from the branch?

[2017-07-18 18:21] luoy2 commented on #35
@bgaifullin
sorry, went to the hospital yesterday.
[code]

Thanks!

[2017-07-18 19:00] andreixk commented on #32
I'm getting the same error with libxml2 version 2.9.4_3

[2017-07-18 22:03] bgaifullin commented on #32
@andreixk, could you please provide the following information:
- version of python_xmlsec
- version of libxmlsec
- os version

Do you install libxml2 from source or from package?

[2017-07-18 22:06] andreixk commented on #32
python_xmlsec 1.1.0
libxmlsec 1.2.20_1
Mac OS X 10.11.6
libxmlsec installed using brew
python_xmlsec installed using pip

[2017-07-18 22:07] bgaifullin commented on #32
What about libxml2 ? do you install it by using brew too  ?

[2017-07-18 22:08] andreixk commented on #32
yes

[2017-07-18 22:12] bgaifullin commented on #32
@andreixk Could you please fire new issue with stack trace, versions of libxml2, libxmlsec1, python_xmlsec.
And it would be great, if you also provide minimal example, which causes segfault.

[2017-07-18 22:15] andreixk commented on #32
I can do that a bit later, I removed the test case that caused segfault.
At the moment I'm having another issue where xmlsec is giving me "failed to decrypt" error. Is there a way I can give you the xml file and the private key to take a look at it? I don't want to post the public key here.
I can decrypt the xml using a php library, but xmlsec is giving me issues with it for some reason.

[2017-07-18 22:21] bgaifullin commented on #32
@andreixk you can use my email 'gaifullinbf@gmail.com' to share this information.

[2017-07-18 23:24] bgaifullin commented on #35
@luoy2 I updated patch,
the problem was in the following:
the libxmlsec has extension '.a', but python distutils uses assumption that all libraries on windows has extension '.lib'.

Please check it again.
Thanks for your patience.

[2017-07-19 15:00] luoy2 commented on #35
@bgaifullin Thank you for the patience as well!
[code]

[2017-07-19 16:11] bgaifullin commented on #35
@luoy2, I have updated patch, sorry, there was a typo in setup.py

[2017-07-19 16:54] luoy2 commented on #35
@bgaifullin thanks,
[code]

[2017-07-19 17:03] bgaifullin commented on #35
fixed :)

[2017-07-19 18:21] luoy2 commented on #35
@bgaifullin ,thanks
[code]

[2017-07-20 13:50] bgaifullin commented on #35
@luoy2, fixed

[2017-07-20 15:55] luoy2 commented on #35
@bgaifullin thanks,
[code]

[2017-07-20 16:15] bgaifullin commented on #35
@luoy2, could you try without libeay32?
Need to remove the libeay32 from list in setup.py.
I will update branch later.

[2017-07-20 19:14] luoy2 commented on #35
@bgaifullin something new here YAY:)
[code]

[2017-07-20 22:10] bcoover commented on #35
This is not only a Windows problem, per the other thread (https://github.com/mehcode/python-xmlsec/issues/1) This also fails on Debian-based Docker images (default for Python 3.4).

pip fails to install xmlsec, but I was able to fix by running:
`apt-get install xmlsec1 openssl python-lxml libxmlsec1 libxmlsec1-dev`
then it installs fine with:
`pip install xmlsec`

[2017-07-20 23:30] bgaifullin commented on #35
@bcoover it is different issues.
python-xmlsec needs libxmlsec1-dev, python-lxml, libxml2 and openssl. this requirements are mentioned in README.rst and in docs. (install section)

this issue is about building for windows.

[2017-07-21 01:06] bgaifullin commented on #35
@luoy2 I updated branch, please try to build. I want to check one assumption.
Can you contact me directly via email 'gaifullinbf@gmail.com' ?

[2017-07-21 15:35] bgaifullin commented on #22
@pitbulk, sorry for late response :)
I check this with latest version in develop branch and it works.
Could you please confirm it?

I used the following code:
[code]

[2017-07-21 19:08] luoy2 commented on #35
@bgaifullin Thanks, just sent you an email.

[2017-08-06 14:44] bgaifullin commented on #22
Fixed in 1.2.0

[2017-08-06 14:44] #22 closed

[2017-08-06 14:47] bgaifullin commented on #16
the windows installation does not work yet.
Development is going on branch windows_build.

[2017-08-15 11:08] bgaifullin commented on #16
fixed in 1.3.1

[2017-08-15 11:08] #16 closed

[2017-08-15 14:13] marcus-ahle opened #70 "ImportError: No module named 'xmlsec_setupinfo'"
We're receiving the following error when attempting to pip install xmlsec 1.3.2.
[code]
Looks like xmlsec_setupinfo.py isn't getting packaged up in the tar: https://pypi.python.org/packages/57/2e/fd42a79472c19b7c01ead43ab3c2120554234441848ac790f9839993443e/xmlsec-1.3.2.tar.gz#md5=37b14968a0ef150455a4e9d2dd4149fe

[2017-08-15 14:14] bgaifullin commented on #70
It is fixed. I just need to release new version.

[2017-08-15 14:17] bgaifullin commented on #70
version 1.3.3 is released.
I apologize for the reasons for the inconvenience.

[2017-08-15 14:17] #70 closed

[2017-08-16 08:36] bgaifullin opened #71 "Check that package correctness before upload to pip"
Version 1.3.2 was broken and CI did not recognise this.
Need to add tests to make sure that package is correct, before uploading to PIP.

[2017-09-08 13:54] sviolich opened #72 "Error signing apparently valid envelope"
I'm having trouble signing what seems to be a valid envelope. `ctx.sign()` fails, returning `xmlsec.Error: (1, 'failed to sign')`.

But, if I write `etree.tostring()` to file, I can sign the envelope on the command line using `xmlsec1`, so it seems valid.

Furthermore, if I write `etree.tostring()` to file then `etree.parse()` it straight back, I can sign the 'new' envelope using `ctx.sign()`! Wha

[2017-09-08 15:43] bgaifullin commented on #72
Hi, you can try to build xmlsec with option 'enable-debug'
`python setup.py --enable-debug`
or specify environment variable 'PYXMLSEC_ENABLE_DEBUG' before running setup.py or installing via pip'
this will enable building with debuginfo and additional logging to stderr.

[2017-09-08 15:44] bgaifullin commented on #72
the xmlsec is sensible to order of tags in xml, so it can be a reason.
Could you share the xml document, which causes this issue?

[2017-09-08 17:53] sviolich commented on #72
Hi, thanks for replying so quickly.

I followed your suggestion and installed xmlsec with debug enabled. `pip install --no-binary :all: --global-option build --global-option --debug xmlsec` worked for me.

Bad output (signing freshly-constructed document):

[code]

Good output (after writing and re-parsing document):

[code]

All I can gather is that `xmlSecDSigCtxSign` fails the first time and su

[2017-09-08 18:00] bgaifullin commented on #72
Could you please also add the following call to your test:
'        xmlsec.enable_debug_trace(1)
'

[2017-09-08 18:01] bgaifullin commented on #72
I forgot to do this by default in case if debug mode is enabled :(

[2017-09-08 18:09] sviolich commented on #72
Ok, added that.

Bad output:
[code]

[2017-09-08 18:12] sviolich commented on #72
Good output:

[code]

[2017-09-08 18:32] sviolich commented on #72
The XML document begins as a SOAP envelope generated from a client's WSDL using Zeep.

I then insert the below Security element into the Header; set an `xml:id` on the Body; and set the text values for Created, Expired and BinarySecurityToken.

[code]

Then I try to sign: fails.

Write and parse same document: succeeds.

This error from the bad output got my attention:

`func=xmlSecXPathDataExecut

[2017-09-08 19:51] bgaifullin commented on #72
xmlsec cannot find node by  id("timestamp"),
https://github.com/lsh123/xmlsec/blob/xmlsec-1_2_20/src/xpath.c#L271
what is difference between xml, which fails and good xml.

[2017-09-08 19:53] bgaifullin commented on #72
how you patch the original xml, by using the xml module or by using something else?

[2017-09-11 12:04] sviolich commented on #72
Solved!

Taking example from how Zeep does its WSSE signing, I've added a call to `ctx.register_id` for each of my three signing target elements:

[code]

Signing now works. Two details of this solution still confuse me though:

1. Is it intended that `ctx.register_id()` is required, even when the ID being used is `xml:id`? [This XMLSec FAQ](https://www.aleksey.com/xmlsec/faq.html#section_3_2) sug

[2017-09-11 15:56] bgaifullin commented on #72
I do not have idea, except that during parsing libxml builds some index and adds this ids to index automatically.

[2017-09-11 17:53] #72 closed

[2017-09-11 18:30] bgaifullin commented on #72
Thanks

[2017-11-09 03:03] hiacbanks commented on #22
Hello bgaifullin,

I borrow your code (july 21), when I ran it , I got this error

func=xmlSecOpenSSLAppKeyLoadBIO:file=..\src\openssl\app.c:line=261:obj=unknown:subj=PEM_read_bio_PrivateKey and PEM_read_bio_PUBKEY:error=4:crypto library function failed:openssl error: 151441516: PEM routines: PEM_read_bio no start line
func=xmlSecOpenSSLAppKeyLoad:file=..\src\openssl\app.c:line=165:obj=unknown:sub

[2017-11-09 17:45] bgaifullin commented on #22
Hi @hiacbanks
Seems like your key 'jam-private.pem' is not valid.
could you please check your key is in PEM format. it should be something like:
[code]
you can also check the private key via `openssl`
`openssl rsa -in jam-private.pem -check`

[2017-11-13 00:00] dangerm0us opened #73 "Value error during pip install"
Hi, I get this error when installing xmlsec via pip:

"        raise ValueError("path '%s' cannot be absolute" % pathname)
    ValueError: path '/home/travis/build/mehcode/python-xmlsec/src/constants.c'
cannot be absolute"

Environment:

Windows 2008 R2 Server
Python 3.5
lmxl v4.1.1

Any clues?  Thank you.

[2017-11-13 10:32] shravanthium opened #74 "Error: (4, 'cannot read key')"
Hi,
When I do
`key = xmlsec.Key.from_file('~/signing_key.pem',xmlsec.constants.KeyDataFormatPem)`
Getting Error: (4, 'cannot read key')

Unable to find why is it failing to read the private key file.

[2017-11-13 14:28] bgaifullin commented on #74
Hi. Seems like your private key is not valid or is not in PEM format. You can check validity of key file by using OpenSSL.

[2017-11-13 14:30] bgaifullin commented on #74
it should be something like:

-----BEGIN RSA PRIVATE KEY-----
body of key
-----END RSA PRIVATE KEY-----
you can also check the private key via openssl
openssl rsa -in jam-private.pem -check

[2017-11-13 14:33] bgaifullin commented on #73
Hi. There is prebuilt binaries for windows on appveyour, you can check readme for details

[2017-11-13 16:59] shravanthium commented on #74
I did check the validity and got the below response
[code]
But when I do
key = xmlsec.Key.from_file('~/signing_key.pem',xmlsec.constants.KeyDataFormatPem)
getting
`Error: (4, 'cannot read key')`

[2017-11-13 18:02] bgaifullin commented on #74
Ah. I am sorry.
the problem in your path. xmlsec does not have code to expand user home directory. '~',
xmlsec expects abs or relative path, which expanded variables.
you can use `os.path.expanduser` to get abs path for the instance.
try this:
[code]

[2017-11-14 06:09] shravanthium commented on #74
Thanks that helped.

[2017-11-14 06:09] #74 closed

[2017-12-18 07:08] discretepackets opened #75 "Build error on Python 3.4 on CentOS 7"
For Python 3 on CentOS 7, the default on CentOS 7 is Python 3.4 and attempting to build will result in this error below:

[code]
I tried the same build process with Python 3.6 instead and it built successfully.

[2017-12-18 09:28] discretepackets commented on #75
Interestingly, I don't get the error if I install a newer version of Python 3.4 from `https://centos7.iuscommunity.org/ius-release.rpm` It might be a bug related to the language version.

[2018-02-03 21:26] bgaifullin commented on #75
I committed fix, could you please confirm that it resolves this issue.

[2018-03-02 01:21] michellelynne opened #77 "Error when using verify"
I was updating my pip packages when I ran into this. Anything I can do? Is there an older version where this still works?

Thanks!

xmlsec.verify(info, certificate)

[code]

[2018-03-10 15:30] valentindegrange opened #78 "Build error on Ubuntu 16.04 LTS, Python 3.6"
Hi I'm currently on Ubuntu 16.04 LTS, using Python 3.6.3
After having installed `libxml2-dev libxmlsec1-dev libxmlsec1-openssl` and plenty of other libs I can't install correctly xmlsec

Already installed xml lib :
[code]
The following error is occuring when I `pip install xmlsec` :

[code]
Can anyone help me ?

[2018-03-11 22:12] bgaifullin commented on #78
Hi. you need to install development package for your version of python.
it is python3-dev for ubuntu 16.

[2018-03-12 09:08] valentindegrange commented on #78
Hi, thank you for your answer. I already installed it and it didn't change anything from the errors I get when installing xmlsec.

[2018-03-12 09:30] bgaifullin commented on #78
it is strange, the compilation breaks since there is no python.h file.
`/tmp/pip-build-ycws7_21/xmlsec/src/platform.h:16:20: fatal error: Python.h: Aucun fichier ou dossier de ce type`

Please check that after installation of python3-devel, the file /usr/include/python3.6/Python.h appears.

[2018-03-12 09:33] bgaifullin commented on #78
as workaround you can add directory where  Python.h is located to includes manually via env variable `CFLAGS=-I<path to directory>`

[2018-03-12 09:42] valentindegrange commented on #78
Hi again, I finally found a way, ugly but working:
Remove Python3.6 (that I previously downloaded via `add-apt-repository ppa:jonathonf/python-3.6 -y`)
Download it from official Python [website](https://www.python.org/downloads/)
Unzip it, `configure`, `make` & `make install`
Recreate my virtualenv
Install xmlsec lib
Done.

Thanks again :)

[2018-03-12 09:43] #78 closed

[2018-03-28 19:50] tarunkhanna opened #79 "error compiling from source"
I'm trying to build the module from source using

`python setup.py bdist_egg
`
I get the following error while trying to build. I'm probably missing some library, that I can't figure out.
Thank you.
[code]

[2018-04-13 10:23] nguyenkims opened #80 "Problem installing xmlsec on Mac 10.13.4, version 1.3.3"
I have this error when trying to import `xmlsec` `python -c "import xmlsec"`

[code]

The lib seems to work fine when installing from the last master branch though:

that gives `1.0.1.dev0` as output. By the way, the master version `1.0.1.dev0` is supposed to be newer than the pypi version `1.3.3` which doesn't seem to be the case.

Below is my system information:

Mac 10.13.4
Python 3.6.5 install

[2018-05-31 20:25] jnorton001 opened #81 "Error importing xmlsec: null argument to internal routine"
I running into some trouble when building and using a manylinux1 wheel (https://github.com/pypa/manylinux). The docker image uses an old distro, CentOS 5, so I can't use `yum` to install all the dependencies as the packages don't meet the minimum requirements for python-xmlsec.

So, I'm manually assembling most of the dependencies before building the wheel. I'm using openssl for libxmlsec's crypto

[2018-06-29 08:37] bgaifullin commented on #79
do you install all required dependencies according to install.rst in docs or Install section in Readme ?

[2018-06-29 08:39] bgaifullin commented on #77
Could you provide certificate which does not pass verification. Also you can enable debug for xmlsec to get more detailed output.

[2018-06-29 08:43] bgaifullin commented on #75
do updates for long time. close the issue

[2018-06-29 08:43] #75 closed

[2018-06-29 08:44] bgaifullin opened #82 "windows binaries will be removed on 17th June 2018 from ci.appveyor.com"
Subj, need to find other place to host this binaries.

[2018-07-16 11:29] utek commented on #82
Hi. Any update on this issue? As those binaries are already deleted.

[2018-07-20 16:46] romeroqj opened #83 "Segmentation fault when encrypting using EncryptionType.CONTENT"
I'm getting a `Segmentation fault: 11` error when I try to encrypt an XML document using `xmlsec.EncryptionType.CONTENT`. It works using `xmlsec.EncryptionType.ELEMENT` though.

Here's the code and the XML document.

[code]

[document.xml.txt](https://github.com/mehcode/python-xmlsec/files/2214671/document.xml.txt)

And here's some `lldb` info I gathered:

[code]

## Environments

I was to reprodu

[2018-07-20 16:48] romeroqj commented on #83
@bgaifullin @mehcode Please let me know if there's anything else you need from me. Thanks in advance.

[2018-07-22 05:50] felixonmars opened #84 "Tests failed on Arch Linux"
I am trying to package python-xmlsec for Arch, but unfortunately most tests are failing here. Versions:

Python 3.6.6/3.7.0
libxml2 2.9.8
xmlsec 1.2.26

Cflags: `-DXMLSEC_CRYPTO_DYNAMIC_LOADING=1 -D__XMLSEC_FUNCTION__=__func__ -DXMLSEC_NO_SIZE_T -DXMLSEC_NO_GOST=1 -DXMLSEC_NO_GOST2012=1 -DXMLSEC_DL_LIBLTDL=1 -I/usr/include/xmlsec1 -I/usr/include/libxml2`

Example test failure (others are very simi

[2018-07-27 21:58] plasticav opened #85 "windows wheel files not available"
I'm trying to install zeep[xmlsec] on a windows system with Python 3.6. It results in the following,

[code]

to what I can tell, it looks like the libxml and xmlsec wheel files were hosted on appveyor, but they don't have them anymore. Can we please get them hosted again?

related install attempt,

[code]

[2018-07-31 09:50] vipin-kumar-tomar commented on #35
Getting below error:
Retrieving "https://ci.appveyor.com/api/buildjobs/hij3a6776pdv2007/artifacts/libxml2-2.9.4.win64.zip" to "build/extra\libxml2-2.9.4.win64.zip"
error: HTTP Error 404: The specified blob does not exist.

[2018-08-04 09:56] bgaifullin commented on #85
the appveyour changes its policy about retention build artifacts.
if someone knows where this files may be posted instead of appveyour - welcome.
I cannot just rebuild projects since build rules have been changed and build fails.
I anyone can fix this, please make PR for repository https://github.com/bgaifullin/libxml2-win-binaries.

[2018-08-07 14:03] plasticav commented on #85
@bgaifullin  if the issue is hosting, can we consider using github releases for the wheel files?

[2018-08-09 21:07] plasticav commented on #85
Alternatively, has pythonhosted.org been considered?

https://packaging.python.org/tutorials/packaging-projects/

[2018-08-13 07:50] bgaifullin commented on #85
@plasticav the github releases can be used, but need to change scripts for uploading into github after build. Can you do this?
about pythonhosted.org, there is libxml2 binaries for windows, and I am not sure, that it can be hosted on pythonhosted.org.

[2018-08-16 00:51] covelloz commented on #85
Not only the wheel. The pip build (pip install xmlsec) and manual install (python setup.py install) options do not work either.

Getting the following error:

[code]

You can see this is the same error in the wheel's build too:
https://ci.appveyor.com/project/bgaifullin/python-xmlsec/build/job/ed6uyd5t68gscyv3

[2018-08-21 10:05] chauhoang99 commented on #35
Yep same error on Windows machine when running "pip install xmlsec"

running install
    running build
    running build_ext
    Retrieving "https://ci.appveyor.com/api/buildjobs/7k878q7rvogcdyd9/artifacts/libxml2-2.9.4.win32.zip" to "build/extra\libxml2-2.9.4.win32.zip"
    error: HTTP Error 404: The specified blob does not exist.

[2018-08-22 11:26] alternativc opened #86 "Pip install fails with type error"
Platform: CentOS Linux release 7.5.1804
Python:  Python 2.7.5

When installing with **pip install xmlsec** the setup.py fails. Below is the output:
`# pip install xmlsec
Collecting xmlsec
  Using cached https://files.pythonhosted.org/packages/35/42/d7cd323c91d4706f3cc32ffe7d5f851ab8ef9898ccb350f6ba593dd8b89a/xmlsec-1.3.3.tar.gz
Requirement already satisfied: pkgconfig in /usr/lib/python2.7/site-pa

[2018-08-22 11:29] alternativc commented on #86
More info:
# pkg-config --cflags xmlsec1
-DXMLSEC_CRYPTO=\"openssl\" -DXMLSEC_CRYPTO_DYNAMIC_LOADING=1 -D__XMLSEC_FUNCTION__=__FUNCTION__ -DXMLSEC_NO_SIZE_T -DXMLSEC_NO_GOST=1 -DXMLSEC_NO_XKMS=1 -DXMLSEC_DL_LIBLTDL=1 -I/usr/include/xmlsec1 -I/usr/include/libxml2

[2018-08-22 11:38] bgaifullin commented on #86
Make new release 1.3.4 with fix

[2018-08-22 11:46] alternativc commented on #86
Thanks, however now I recieve the following error:
"Installing collected packages: xmlsec
  Running setup.py install for xmlsec ... error
    Complete output from command /usr/bin/python2 -u -c "import setuptools, tokenize;__file__='/tmp/pip-req-build-CEh_Gx/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" in

[2018-08-22 11:51] alternativc commented on #86
I did a small conversion at:
 76     dirs = list(xmlsec_config()['include_dirs'])
 77     dirs.extend(lxml.get_include())
It installs now, not sure if anything broke though

[2018-08-22 12:05] bgaifullin commented on #86
Cool, could you please create a PR ?

[2018-08-29 01:28] sivictorallen commented on #81
I'm having a similar issue on Alpine, where an earlier version of the Docker image with libxmlsec 1.2.22 works fine, but 1.2.25 results in this same error (both in python-xmlsec 1.3.3). Not sure if this helps you or not.

[2018-08-31 17:35] thewebkid commented on #85
This issue is not resolved. This is a circular issue reference if you read to the bottom of 35. It is currently a big blocker for me.

[2018-08-31 20:06] bgaifullin commented on #86
I have fixed the installation issue, but I cannot publish new release to pip since there is some privileges issues on travis. only  @mehcode   can resolve this.

[2018-08-31 20:07] bgaifullin commented on #85
the latest windows binaries are available here https://github.com/mehcode/python-xmlsec/releases/tag/1.3.5

[2018-08-31 20:07] #85 closed

[2018-09-01 00:30] mehcode commented on #86
Going to look at this in a few hours

[2018-09-02 17:56] mes3yd commented on #81
I investigated further, on alpine it is the Alpine 3.8 version (libxmlsec-1.2.25r2) versus r1 on Alpine 3.7 that causes the problem. So if you need it: alpine 3.7 + python-xmlsec-1.3.3 works.

[2018-09-20 12:31] priyank001 opened #88 "I can't install xmlsec on Windows 10"
I am trying to install [_xmlsec_ ](https://pypi.org/project/isodate/) for [Python3-SAML](https://github.com/onelogin/python3-saml) in Windows 10 .
I am using Python3.7.0
SAML2.4.0

[code]

[2018-09-21 15:39] bgaifullin commented on #88
There is a problems with pushing new version to pypi, as a workarround you can download latest version from github.  https://github.com/mehcode/python-xmlsec/releases/tag/1.3.5

@mehcode  could you please check: travis fails with error
[code]

[2018-09-26 05:54] Jyotir-Parmar commented on #88
Hi @bgaifullin,

I am also not able to install it on Mac or Centos. This is the error i am getting.

[code]

[2018-09-28 09:46] bgaifullin commented on #88
@Jyotir-Parmar  can you try to build with vebose mode, to get more information about error.
`pip  -v  install ...`

[2018-10-03 22:05] jamesward opened #89 "Version 1.3.6 is Tagged But not in available via pip"

[2018-10-04 13:30] Jyotir-Parmar commented on #88
@bgaifullin here is the full error log

`Collecting xmlsec
  1 location(s) to search for versions of xmlsec:
  * https://pypi.python.org/simple/xmlsec/
  Getting page https://pypi.python.org/simple/xmlsec/
  Looking up "https://pypi.python.org/simple/xmlsec/" in the cache
  Returning cached "301 Moved Permanently" response (ignoring date and etag information)
  Looking up "https://pypi.org/simple/

[2018-10-19 19:34] jtojnar commented on #71
This is also relevant for Linux distributions packaging python modules from PyPI; see also the Debian thread about the issue:
https://lists.debian.org/debian-python/2016/04/msg00074.html

[2018-11-12 15:34] pradipanand commented on #35
hi All, could you please tell if issue has been fixed because I am getting same issue while doing pip install xmlsec

[2018-12-10 17:44] jasonmarkperez opened #92 "Could not find xmlsec1 config"
Hello,

I've been unable to install xmlsec as a requirement for a project I'm working with. I've also tried to do a clone and install of just python-xmlsec, which fails in the same way.

**Python**: 3.6.0 (using pyenv)
Verified I have brew installed libxml2 and libxmlsec1.

[code]
I tried uninstall and reinstalling libxml2 and libxmlsec1, upgraded xcode to 10.1. Any idea what might be going on?

[2018-12-25 06:37] umeshsingh08 commented on #35
is this issue fixed? getting same error.

[2018-12-29 10:48] Mause commented on #82
They should be published to pypi instead?

[2019-01-04 11:13] xaralis commented on #81
Is there any ETA for fix? This affects Alpine 3.8 which is a serious problem due to its widespread use in docker environments.

[2019-01-08 20:31] bgaifullin commented on #89
there is problem with publishing builds on pip via travis.
If anybody helps to resolve this - it will be great.

[2019-01-08 20:32] bgaifullin commented on #92
do you install pkg-config as well?

[2019-01-08 20:35] bgaifullin commented on #88
/tmp/pip-build-98_8l9kh/xmlsec/src/platform.h:16:20: fatal error: Python.h: No such file or directory
#include <Python.h>

the problem is here?

you need to add directory with python header files into headers search path, I am not familiar with windows and do not know how to do this. As alternative you can use pre-built binaries with are attached to repository. https://github.com/mehcode/python-xm

[2019-01-08 20:57] bgaifullin commented on #80
seem like there is error with libcrypro.
do you install openssl with brew and add libcrypto location folder into LD_LIBRARY_PATH ?

[2019-01-08 21:00] bgaifullin commented on #82
publish windows binaries in github.
I do not find any way to publish those binaries in pypi. (

[2019-01-08 21:01] bgaifullin commented on #81
there was error with exception handling during load module, I fix it. https://github.com/mehcode/python-xmlsec/pull/94

[2019-01-08 21:08] bgaifullin commented on #81
seem like there is no package xmlsec1-openssl for alpine

[2019-01-08 22:06] bgaifullin commented on #83
Thank you for bug report. I prepare the fix. #94 commit 1e46b9851fc7877cf6c6242ecc54dae764f0e986

[2019-01-08 22:11] bgaifullin commented on #83
after fix lxml reports an error:
[code]

[2019-01-09 00:20] Mause commented on #82
They should be published to pypi so that they can be installed automatically via pip?

[2019-01-10 12:45] r03 opened #95 "Option to avoid line breaks in base64 (xmlSecBase64SetDefaultLineSize)"
I had a problem where a signature breaks because of line breaks.
(this shouldn't fail, but I'm using an external service that I can't change)

The solution is found here:
https://www.aleksey.com/pipermail/xmlsec/2010/008921.html

For testing I added this in function `PyXmlSec_Init` (main.c):
`xmlSecBase64SetDefaultLineSize(0);`
and added this include
`#include <xmlsec/base64.h>`

This works for me

[2019-01-11 13:52] adelton commented on #89
When installing via `pip3` on my Fedora, I get

[code]

The following

[code]

changes it to
[code]

Not sure if it's related to the Travis CI issues (any link?) but it seems like something that might be needed anyway. Would you like separate issue/PR?

[2019-01-11 14:00] adelton commented on #89
And it also fixes the versioning for

[code]

[2019-01-11 16:22] adelton opened #96 "importing xmlsec breaks second lxml.etree.parse call"
When
[code]
is added to trivial python code which uses `lxml`'s `etree.parse`, the second `etree.parse` fails.

Let's have minimal XML file `sf.xml` containing
[code]

Let's have trivial code `sf.py`
[code]

Running it with `python3 sf.py` produces two objects:
[code]

However, when that `import xmlsec` is uncommented, the behaviour changes to
[code]

This is with `xmlsec` that was installed via `

[2019-01-15 11:39] AvnerCohen opened #97 "Compile against locally installed version"
Apologies if I am missing something obvious, couldn't find any solution in the existing issues.

On my CentsOs 7, I have xmlsec1.2.20 installed, I wanted this updated to latest version - 1.2.27
This meant download the code and run `make && make install`

I have updated the pkg_config env variable so result of `pkg-config --cflags xmlsec1` is now:
[code]

Traceback (most recent call last):
  File "

[2019-02-04 18:10] srianbury commented on #88
Maybe someone with more knowledge about xmlsec can provide more detail about my response but here is what I have found.  @bgaifullin provided .whls above which are for python 2.7 and 3.6 which tells me there's no xmlsec for python 3.7? which the user stated they are using.  I was also using python 3.7 and when after I downloaded the .whl and did pip install <filename>.whl I got something like "thi

[2019-02-05 13:44] vsingh63 commented on #88
yeah. I'm also facing the same issue, available binaries are supported till python 3.6 only.

[2019-02-07 05:56] snehm opened #98 "build fails with python37 on windows 10"
Please upload wheel file for python37 - amd64.

[2019-02-07 06:27] snehm commented on #98
`fatal error C1047: The object or library file 'build\extra\iconv-1.14.win64\lib\iconv_a.lib' was created with an older compiler than other objects; rebuild old objects and libraries
LINK : fatal error LNK1257: code generation failed`

[2019-02-11 02:15] jpmeatme opened #99 "Error when installing via pip in Django 2.7"
Hi, i am having this issue. I am using AWS Elastic Beanstalk

Collecting xmlsec<1,>=0.6.0 (from py-wsse->-r /opt/python/ondeck/app/requirements.txt (line 78))
  Downloading https://files.pythonhosted.org/packages/e1/ec/0330f39bc5eb270b6b62a9dbb11194c6d4215b48ef8d04c78a30dc1d2d1d/xmlsec-0.6.1.tar.gz
    Complete output from command python setup.py egg_info:
    sh: warning: setlocale: LC_ALL: canno

[2019-02-22 15:15] JoelKThomas opened #101 "Cannot install xmlsec in Windows 10"
I am having Windows 10 and when i try to install xmlsec
`pip install xmlsec==1.3.3`

I am getting an error like this

[2019-03-15 23:12] joekohlsdorf commented on #89
Travis logs the following:
[code]

@mehcode Please reset the password of the project in PyPi and change it accordingly in .travis.yml.

[2019-03-18 18:52] #89 closed

[2019-03-18 18:53] mehcode commented on #89
Hopefully that fixes it. Re-open if there is still an issue.

[2019-03-28 00:34] rouge8 commented on #89
The latest release available on PyPI is still 1.3.3: https://pypi.org/project/xmlsec/#history Maybe it's time for a 1.3.7 to get a new upload?

[2019-03-29 19:54] iepathos opened #102 "Package setup.py egg_info requires an external resource"
This pip package tries for an external resource during setup.py egg_info which is called at the start of installation.  This breaks typical pip package installation which should respect defined pip registries and only use those for installation.  This breaks installation for anyone trying to install this in an offline environment from a pip mirror or from a clone of this repository.  This package

[2019-04-01 15:34] spacez320 opened #103 "1.3.3 install broken, Ubuntu 16.04, "'pytest distribution was not found and is required by pkgconfig""
Full stack trace:

[code]

Specifically installing pytest does not help.

[2019-04-03 12:03] alexa-infra commented on #81
There is a fix for Alpine 3.9: `apk add libcrypto1.1`. It looks like `libxmlsec1-openssl.so` is built with different openssl/libressl version (alpine is shipped with `libressl2.7-libcrypto` openssl version 1.0.0). To see the issue run `ldd /usr/lib/libxmlsec1-openssl.so` and see missing symbols. `libcrypto1.1` (openssl version 1.1.1) from alpine repositories fixes this issue. Another way would be

[2019-04-15 10:57] jblom opened #105 "import xmlsec error (null argument to internal routine) via uwsgi (and supervisord)"
using python-saml I never had this problem, but since I'm porting everything to from Python 2 to Python 3, and thus using python3-saml, I do get this error whenever the code is invoked from uwsgi:

[code]
When I run the code manually from the virtualenv it just works... (uwsgi is installed in the same virtualenv...)

output of my **pkg-config --cflags xmlsec1**

`-DXMLSEC_CRYPTO=\"openssl\" -DXMLS

[2019-04-15 13:48] jblom commented on #105
I actually "solved" the problem myself, although I do not understand why it works now. It turns out that:

- when I run the uwsgi command manually there was no problem, because I did not specify the LD_LABRARY_PATH. So when it is not there it works
- when I start the uwsgi via supervisor (with environment vars & thus LD_LIBRARY_PATH) it does NOT work.

It might be that the LD_LIBRARY_PATH was not

[2019-04-15 14:37] #105 closed

[2019-04-26 22:17] ragnarokatz opened #107 "Cannot install package xmlsec on RHEL7.6"
Hello,

I'm trying to install the python package `python3-saml`, which depends on python libraries `xmlsec` and `pkgconfig`.

system information:
[code]

error I'm getting when I do pip install **xmlsec**:
[code]

I already did `yum install pkg-config xmlsec1-openssl xmlsec1 libxml2 libxml2-devel xmlsec1-devel xmlsec1-openssl-devel libtool-ltdl-devel`.

However, package `xmlsec1` does not come wit

[2019-04-26 22:28] #107 closed

[2019-04-27 17:21] ing200086 commented on #85
Any movement on this? I am getting the same issue. On python 2.7 I get a badzip error, and on python 3.7 I get ci.appveyor.com is no longer available.

[2019-05-06 21:38] distortedsignal commented on #107
Hey @ragnarokatz, have any insight on this? I see you closed your own issue - how did you get past this?

[2019-05-14 10:19] gs202 opened #108 "1.3.3 install broken, ModuleNotFoundError: No module named 'pkgconfig'"
During installation i'm getting:
`
ModuleNotFoundError: No module named 'pkgconfig'
`
But as can be seen at the stack trace:
`
Installing pkgconfig-1.5.1-py2.py3-none-any.whl to /opt/atlassian/pipelines/agent/build/.eggs
Installed /opt/atlassian/pipelines/agent/build/.eggs/pkgconfig-1.5.1-py3.6.egg
`

both packages are in my requirements file
`
xmlsec==1.3.3             # via python3-saml
pkgconfi

[2019-05-17 15:45] ragnarokatz commented on #107
Hey,

I think I missed a package in the long list:

yum install pkg-config xmlsec1-openssl xmlsec1 libxml2 libxml2-devel
xmlsec1-devel xmlsec1-openssl-devel libtool-ltdl-devel

I just ran this again and made sure every single one of them was installed.
Then it worked.

On Mon, May 6, 2019 at 5:38 PM Tom Kelley <notifications@github.com> wrote:

[2019-05-17 16:37] distortedsignal commented on #107
Thanks.

I feel like I was in a [DenverCoder9](https://xkcd.com/979/) scenario - I'll try this out!

[2019-07-02 06:39] anishchadayappan commented on #74
Can i read key from a variable ?

[2019-08-16 08:22] Lewiscowles1986 opened #109 "xmlsec openssl"
Deploying via wheel to CloudFoundry it seem that there is an error with one of the dependencies of xmlsec

[2019-08-22 01:06] anoasis commented on #107
I am encountering the same issue while installing your xmlsec package in my RHEL7 docker container.

I've checked every single dependency installed and tried manual installation as well. Still no luck.

Anyone has a resolution on this?

`root@docker[e5d232df0d1c]:/libxml2-2.9.1> yum install xmlsec1-openssl
Loaded plugins: ovl
Package xmlsec1-openssl-1.2.20-7.el7_4.x86_64 already installed and late

[2019-09-04 21:49] anoasis commented on #108
Did you try yum install pkgconfig?
If you did, you probably need to configure PKG_CONFIG_PATH as well.

[2019-10-16 19:34] lovegandhi commented on #92
@bgaifullin  I tried to follow the instructions from readme file just as @jasonmarkperez and received the above message.
What fixed it for me was: `brew install libxml2 libxmlsec1 pkg-config`
Perhaps the readme should be updated to include pkg-config as a requirement?

[2019-10-18 14:19] dbanty opened #111 "Install Fails with macOS pyenv Python 3.8"
I seem to be unable to install this package under Python 3.8.0.  Are there plans to support 3.8 and a rough timeline for it?  Thanks!

In case it's helpful, here's the error output:

<details>

Collecting xmlsec
  Using cached https://files.pythonhosted.org/packages/35/42/d7cd323c91d4706f3cc32ffe7d5f851ab8ef9898ccb350f6ba593dd8b89a/xmlsec-1.3.3.tar.gz
Requirement already satisfied: pkgconfig in ./

[2019-10-18 22:44] bgaifullin commented on #111
It seems like there is missing libxml-dev package

[2019-10-18 22:46] bgaifullin commented on #92
yes. there is also PR for this #66, but it is not completed yet.
I would be happy to accept PR which adds this to READE and setup instructions

[2019-10-21 16:32] dbanty commented on #111
I have libxml2 and libxmlsec1 installed from Homebrew and installing under Python 3.7.4 works fine.

Both my Python 3.7.4 and 3.8.0 are installed from pyenv, not the distributed binaries from python.org.  Not sure if that's useful info or no.

[2019-10-23 07:37] bhashah opened #113 "Cannot install xmlsec 1.3.3 in a docker container based on oracle linux 7.6"
Hi,

I am trying to create a docker image for a python project which uses python3-saml and xmlsec python packages. But, it gives following error when tries to install xmlsec:

Running setup.py install for xmlsec: finished with status 'error'
    ERROR: Command errored out with exit status 1:
     command: /app/venv/bin/python3.7 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-

[2019-11-01 21:54] jindriago-scf opened #114 "Bump the xmlsec version in Pypi"
Hi!

It's possible to update the version in PyPi to 1.3.5? What it needs to be done? Actually it's only until 1.3.3

Thx!

[2019-11-05 12:05] #92 closed

[2019-11-08 14:58] josh-marshall-jax opened #115 "Install failure due to missing dependancies, apparently missing explicit dependancy on wheel but actually missing system dependancies."
When installing in a clean environment, attempts to use `pip` or `poetry` fail due to missing explicit dependency on the `wheel` module.  It looks like a one-line change in `requirements.txt` to include `wheel` should fix the issue.

[code]

[2019-11-08 15:09] josh-marshall-jax commented on #115
Did a little more testing, and installing the listed system dependencies fixed the problem, which is not what the above error log suggests.  I'm not sure what exactly should change to make this more apparent, but the error thrown shouldn't be that misleading.

[2019-11-27 00:37] caleb15 commented on #81
I got this too when installing the necessary apt packages via brew :(

`brew install libxml2 libxmlsec1 pkg-config`

I already installed them normally via apt but that didn't work (xmlsec not found) hence why I tried brew. But that doesn't work either. Yikes.

[2019-12-02 15:03] dbanty commented on #111
So this installs now.  I have updated both lxml (pip) and libxml2 (hombrew) since opening this ticket.  My only explanation is that one of the changes to those packages fixed this issue.  lxml 4.4.2 mentions a fix to recursive includes, so maybe that?  Doesn't matter much- it works so I'm closing this.

[2019-12-02 21:06] dbanty commented on #111
My previous comment is incorrect, my virtual environment must have been setup wrong.  This is still not working on macOS with Python 3.8 from pyenv, same error as the original.

This is, however, working in CI which uses the Python 3.8.0 Docker image (Debian), so my suspicion is this is a problem specific to either the Python 3.8 built from pyenv or one of the libraries from homebrew.

[2019-12-02 21:10] dbanty commented on #111
After some googling and some guesswork, I ran `export PKG_CONFIG_PATH="/usr/local/opt/libxml2/lib/pkgconfig"` then tried to install xmlsec again (`pip install xmlsec`) and it worked!  It seems (and again this is guesswork) that macOS comes with an older version of libxml2 (in /usr/lib) which isn't compatible but is used by default.  By telling pkgconfig to use the version from Homebrew (/usr/local

[2019-12-02 21:10] #111 closed

[2020-01-06 00:56] fabiopedrosa commented on #98
can someone upload the wheel?

[2020-01-06 08:47] talebi1 commented on #98
created a pull request to fix the issue https://github.com/mehcode/python-xmlsec/pull/116

The issue was that 3rd-party dependencies were compiled with an old version of visual studio, so I recompiled them with vs2017 (available here https://github.com/talebi1/libxml2-win-binaries/releases/tag/master)

Until the pull request is merged, you can:

[code]

[2020-01-06 08:49] talebi1 commented on #101
Duplicate of #98

[2020-01-06 08:50] talebi1 commented on #88
Duplicate of #98

[2020-01-21 16:01] fabiopedrosa commented on #98
@talebi1
Still can't compile it under my windows dev environment. Can you write a brief summary of what I'd need to install on a fresh win10 machine to get the wheels?

I have VS2017 with python extensions.

[2020-01-22 12:50] fabiopedrosa commented on #98
@talebi1 you can see here how its failing for win64 but not win32: https://ci.appveyor.com/project/fabiopedrosa/python-xmlsec

[2020-01-31 13:07] HolgerPeters opened #117 "Upload Wheel releases to Pypi"
Hi

it seems the wheel files are not uploaded to pypi https://pypi.org/project/xmlsec/1.3.3/#files but this would be a great distribution channel, as it would allow pip to pull the binary releases directly from there instead of requiring the user to download them from the provided link.

[2020-02-07 12:16] daveisagit opened #118 "error: Microsoft Visual C++ 14.0 is required"
Hi,
I am trying without much success to install xmlsec on Windows 10 Python 3.7
The usual pip install xmlsec fails with
`    Retrieving "https://ci.appveyor.com/api/buildjobs/hij3a6776pdv2007/artifacts/libxml2-2.9.4.win64.zip" to "build/extra\libxml2-2.9.4.win64.zip"`

So I am trying to install from your repo (as well as others)
I've installed Build Tools (2019) but's later than 14.0 so when I `pi

[2020-02-09 16:37] peppelinux opened #119 "Tests fails"
xmlsec version 1.3.3

[code]

and also documentation examples doesn't work for the same problems.

[2020-02-28 19:33] caleb15 commented on #81
Gave another shot at fixing it and failed. Brew installs libxmlsec1@1.2.29 but apt installs libxmlsec1-dev=1.2.25. Maybe that's the issue? Unfortunately brew doesn't have a earlier version of xmlsec to install.

It works in docker so I'll just use that I guess.

[2020-03-22 22:07] malthejorgensen commented on #80
### Solution

Also using `homebrew` on OS X here, and had the same error.

I was able to get it to work by installing python-xmlsec like this:

    pip install xmlsec --global-option=build_ext --global-option="-I/usr/local/opt/openssl@1.1/include"

### Debugging

If you're getting this error it's seems to be because `xmlsec.*.so` is linked to `libcrypto.1.0.0.dylib`, and you don't have that instal

[2020-03-24 09:14] baynes commented on #96
I have seen the same on Centos 7.  It forced us to use pyxmlsec instead of python-xmlsec which forces us to stick with Python2!

It is worth noting that with pyxmlsec, if olxml eltree can also give problems in some cases. Though that seems to be linked to when an error hanlder is invoked and cases python to segfault. It might be a separate problem in pyxmlsec or it might an indication of an underl

[2020-03-26 17:19] z-kovacs commented on #79
Install libxslt-devel; xmlsec optionally needs it, but seems python-xmlsec always.

[2020-03-27 00:02] caleb15 commented on #81
I tried uninstall the apt xmlsec, installing xmlsec via brew, then reinstalling xmlsec python package with --no-cache-dir but I got:

[code]

I uninstalled brew xmlsec, `brew remove libxmlsec1`, installed xmlsec via apt, `sudo apt install libxmlsec1-dev libxmlsec1-openssl xmlsec1`, and finally reinstalled the xmlsec python package but when reinstalling I got

[code]

I debugged pkgconfig and it ca

[2020-04-03 10:55] azmeuk opened #121 "Encryption segfault"
I used the example to try to encrypt a XML file. I am probably doing it wrong, however this code produce a segfault instead of a python exception, so I though it worth reporting it:

[code]

It segfaults with python 3.8 and 2.7 with python-xmlsec 1.3.3

[2020-04-06 13:24] robbo4 commented on #98
I tried this but no luck. Any ideas when a wheel might be available for x64?

[2020-04-06 13:30] swat323 commented on #115
@josh-marshall-jax can you please tell me which exact dependencies you are talking about here. That would help me with my issue.

[2020-04-06 14:12] josh-marshall-jax commented on #115
I am no longer able to replicate the issue as described.  There still seem to be some odd relations on itself, but it is no longer causing problems for my use case.

[2020-04-06 14:12] #115 closed

[2020-04-16 00:20] carsongregory commented on #114
This would be appreciated! Thank you.

[2020-04-21 11:36] RSwarnkar commented on #85
Hi there, I don't see any release for `Python 3.7.x` environment on windows. Can you please please make a release?  Tried with Python 3.6 release did not worked:

`ERROR: xmlsec-1.3.52.dev0-cp36-cp36m-win_amd64.whl is not a supported wheel on this platform.
`

[2020-04-21 14:37] neemzy commented on #85
Same demand and issue as @RSwarnkar; installing the 32-bit binary worked, though.

[2020-04-21 17:34] klatessa commented on #85
@neemzy Which one did you get to install. I have gone through all of them and get "not a supported wheel on this platform"

[2020-04-22 03:07] chuyik commented on #114
Please bump the pip version to the latest thanks @mehcode

[2020-04-24 02:15] neemzy commented on #85
@klatessa `xmlsec-1.3.52.dev0-cp36-cp36m-win32.whl`

[2020-04-24 19:45] darakian commented on #117
+1 Please provide updates in channel

[2020-04-27 00:14] hoefling commented on #98
Repeating my comment from [here](https://github.com/onelogin/python3-saml/issues/110#issuecomment-619646313):

[2020-04-27 13:11] squishysquid opened #122 "Could we get additional windows wheel builds?"
be nice to have one for python 37 and 38, I suppose 36 still has another year before eol, and I don't know enough about appveyor to say whether it supports it.

[2020-05-03 10:11] mehcode opened #124 "Looking for maintainers"
:wave:

I clearly haven't had time to maintain this nor do I see myself having time to give it attention in the future.

@bgaifullin was doing a great job but it looks like he's gotten busy elsewhere as well.

[2020-05-04 18:24] hoefling commented on #121
Use `type=xmlsec.constants.TypeEncElement` instead of `type=xmlsec.constants.TypeEncContent`. As for the segfault, it is fixed on current master (but wasn't released properly). Try installing from master branch.

[2020-05-04 18:48] hoefling commented on #124
@mehcode I would volunteer - as I see it, the project is already stable and mature, the only real issue I've noticed so far is the platform-specific wheels missing. For that, I'd need upload access to PyPI though (as described in #123). Once this is resolved, the only major thing left is support for occasional new versions of `libxml`/`xmlsec` and new Python major releases. I could also refurbish

[2020-05-04 23:22] mehcode commented on #124
Done. Thanks for stepping up. Sent you an invite for the repo. What's your PyPi username?

[2020-05-05 07:23] hoefling commented on #124
Awesome, thanks!

It's [hoefling](https://pypi.org/user/hoefling/), same as on GitHub.

[2020-05-07 11:43] mehcode commented on #124
And done. You have PyPi access as well. Thanks again. Feel free to email or ping if you need help understanding some of the internals.

[2020-05-07 11:43] #124 closed

[2020-05-07 11:53] hoefling commented on #124
@mehcode gladly! Right now I have an issue with 2FA on PyPI, once it is resolved, I'll prepare a 1.3.7 featuring prebuilt wheels for Windows.

As for the next planning, I'll try to work on a ~100% coverage before submitting any changes to the lib code (already set up [automatic reports to codecov](https://codecov.io/gh/mehcode/python-xmlsec)), but I expect those to remain minimal, like #125 (a fix

[2020-05-07 12:50] bgaifullin commented on #124
Congratulations @hoefling. Also feel free to contact me or ping if you need help.
I will try to response as soon as possible.

[2020-05-10 16:45] majvan commented on #85
@neemzy : the win32 wheel package not work for me for python 3.7

[2020-05-10 17:07] hoefling commented on #85
@majvan try

[code]

I will upload wheels for windows on PyPI soon, with the release of 1.3.7.

[2020-05-20 20:37] hoefling commented on #65
Done, the docs are now at https://xmlsec.readthedocs.io/en/latest/

[2020-05-20 20:37] #65 closed

[2020-05-21 00:09] hoefling commented on #88
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:09] #88 closed

[2020-05-21 00:10] hoefling commented on #98
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:10] #98 closed

[2020-05-21 00:10] hoefling commented on #101
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:10] #101 closed

[2020-05-21 00:11] hoefling commented on #114
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:11] #114 closed

[2020-05-21 00:12] hoefling commented on #118
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:12] #118 closed

[2020-05-21 00:12] hoefling commented on #122
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:12] #122 closed

[2020-05-21 00:12] hoefling commented on #117
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:12] #117 closed

[2020-05-21 00:15] hoefling commented on #82
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 00:15] #82 closed

[2020-05-21 01:00] pitbulk opened #138 "AES-GCM support"
At xmlseclibs (PHP) I saw some work to provide [AES-GCM ](https://github.com/robrichards/xmlseclibs/commit/8d8e56ca7914440a8c60caff1a865e7dff1d9a5a). I wonder how complex is to include it as well at xmlsec.

[2020-05-21 04:12] simkessy opened #139 "type object 'Callable' has no attribute '_abc_registry'"
I'm getting this error

[code]

[2020-05-21 06:33] codedawi commented on #113
Had a similar issue and I needed to change the lib paths to `lib64` to resolve properly. Try setting the `LD_LIBRARY_PATH` and `PKG_CONFIG_PATH` env variables before installing in Dockerfile:
[code]
You may get away with only updating `LD_LIBRARY_PATH` .

[2020-05-21 06:42] doticatto opened #140 "Previously succeeding pipeline build fails with 1.3.7, unable to find openssl"
[code]

All of the needed packages in the readme are installed, and this exact command worked previously. Freezing at 1.3.3 works properly.

python xmlsec version: 1.3.7
libxmlsec1 version: 1.2.20-7.4
libxml2 version: 2.9.1-6.3.52

pkg-config output:
```-DXMLSEC_CRYPTO=\"openssl\" -DXMLSEC_CRYPTO_DYNAMIC_LOADING=1 -D__XMLSEC_FUNCTION__=__FUNCTION__ -DXMLSEC_NO_SIZE_T -DXMLSEC_NO_GOST=1 -DXMLSEC_NO

[2020-05-21 06:43] codedawi opened #141 "release v1.3.7 causing build issues in rhel7 docker image"
With the new release of `1.3.7` we are seeing build/compiler errors in our rhel7 docker container. We needed to install `xmlsec` as dependency for `python3-saml` but the patch version bump caused issues:

[code]
We resolved this by installing `xmlsec==1.3.3` prior to pip installing `python3-saml` package.

[2020-05-21 06:46] codedawi commented on #141
Same as #140 put in a minute before this issue.

[2020-05-21 08:09] hoefling commented on #139
The error comes from `/usr/local/lib/python3.7/dist-packages/typing.py` which is not part of the stdlib. Do you have the [`typing`](https://pypi.org/project/typing/) package intalled? If yes, uninstalling it should be fine as `typing` is part of the stdlib since 3.5.

[2020-05-21 09:46] hoefling commented on #141
Sigh. I knew I will forget something. @codedawi can you please try installing the fixed version and check whether the error is resolved? I have made an upload to TestPyPI, you can try it out via

[code]

If you can confirm the issue resolved, I will prepare another release later today.

[2020-05-21 09:47] hoefling commented on #140
Sigh. I knew I will forget something. @doticatto can you please try installing the fixed version and check whether the error is resolved? I have made an upload to TestPyPI, you can try it out via

[code]

If you can confirm the issue resolved, I will prepare another release later today.

[2020-05-21 11:20] hoefling commented on #138
I think it shouldn't be hard; just adding another transform constant since `libxmlsec` already does the heavy lifting:

[code]

[2020-05-21 11:38] zanchey commented on #109
https://stackoverflow.com/q/52169554/125549 is probably relevant

[2020-05-21 11:51] hoefling commented on #73
A new version 1.3.7 [was released today](https://pypi.org/project/xmlsec/1.3.7/). One of the notable changes includes pushing prebuilt wheels for Windows on PyPI, so the issue with building Windows wheels locally should be resolved. Install as usual:

[code]

Should you experience any issues with prebuilt wheels on Windows, please don't hesitate to open a new issue.

[2020-05-21 11:51] #73 closed

[2020-05-21 12:42] llostris commented on #140
@hoefling We have had the same issue today, and using `xmlsec==1.3.8a1` resolved the problem.

[2020-05-21 13:59] doticatto commented on #140
This fix resolved the issue.

[2020-05-21 14:10] hoefling commented on #139
Also worth noting: https://stackoverflow.com/q/55833509/2650249. Looks like this is not related to `xmlsec`, thus closing. Ping me if this issue should be reopened, though!

[2020-05-21 14:10] #139 closed

[2020-05-21 14:11] #140 closed

[2020-05-21 14:11] #141 closed

[2020-05-21 14:14] Lewiscowles1986 commented on #109
Sorry to say I solved this last year and must have forgot to action due to no follow-up. The remediation was to modify the buildpack (system definition) to be multi-buildpack to allow apt packages (os distribution controlled) to install the package mentioned, but that was not the only package. This was just to include the shared objects needed. A Better approach is using docker. CloudFoundry and a

[2020-05-21 14:39] hoefling commented on #140
I have released [1.3.8](https://pypi.org/project/xmlsec/1.3.8/) which should resolve the issue. Sorry for the noise!

[2020-05-21 14:39] hoefling commented on #141
I have released [1.3.8](https://pypi.org/project/xmlsec/1.3.8/) which should resolve the issue. Sorry for the noise!

[2020-05-21 14:40] hoefling commented on #96
I can't reproduce this issue with the latest 1.3.8 anymore:

[code]

[2020-05-21 14:48] hoefling commented on #121
@azmeuk the issue is not reproducible with the latest 1.3.8 anymore, thus closing. Also the docs are updated. Ping me if this should be reopened though!

[2020-05-21 14:48] #121 closed

[2020-05-21 14:51] hoefling commented on #119
@peppelinux this shoudln't be an issue with the latest 1.3.8 release; can you please confirm?

[2020-05-21 15:12] hoefling commented on #99
`xmlsec==0.6.1` is outdated; I'd ask the maintainer of `py-wsse` to update by [opening a new issue in that project](https://github.com/orcasgit/py-wsse/issues/new).

[2020-05-21 15:14] codedawi commented on #141
Thank you! @hoefling

[2020-05-21 15:20] hoefling commented on #102
@iepathos can you confirm the issue with the latest 1.3.8 release?

[2020-05-21 15:33] hoefling commented on #109
@Lewiscowles1986

I know what you mean. Because of that, we have actually started releasing prebuilt fat wheels internally that are compliant with [PEP 571](https://www.python.org/dev/peps/pep-0571/) (`manylinux2010`), where every external symbol is statically linked into a single shared object. This resolves the issue of having to compile the C extensions locally. I am now playing with the idea o

[2020-05-21 15:37] hoefling commented on #86
This shouldn't be an issue anymore since the releases are rolling again.

[2020-05-21 15:37] #86 closed

[2020-05-21 15:38] hoefling commented on #84
@felixonmars if this is still an issue, can you please check against the latest 1.3.8 release?

[2020-05-21 15:39] hoefling commented on #83
This shouldn't be an issue anymore since the fix from @bgaifullin was published in the latest release.

[2020-05-21 15:39] #83 closed

[2020-05-21 16:33] doticatto commented on #140
Thank you for addressing this quickly

[2020-05-21 17:03] felixonmars commented on #84
Yes, it's still present in 1.3.7/1.3.8 releases.

Full logs w/versions: https://paste.xinu.at/HRD/

[2020-05-21 17:51] Lewiscowles1986 commented on #109
I totally understood the limitation as OpenSSL now you mention it, was I believe something we also had to bundle with the xmlsec dev. I think it might have been two OpenSSL packages, but maybe it was two xml libraries. It all looks fairly common, but bit-rot in the brain is bad.

I wish I'd gisted the solution now so I could reference it. I kind of filed it under `overcoming combative technologies

[2020-05-21 17:51] #109 closed

[2020-05-21 19:05] hoefling commented on #84
@felixonmars my first guess would be something is borked with the `python-lxml` dependency. If I resort to the static wheel, e.g.

[code]
in the `PKGBUILD`, the tests pass. I will try looking further into it.

[2020-05-21 19:12] hoefling commented on #108
@gs202 this was caused by `pkgconfig` not been declared as build dependency. This is now fixed in the latest 1.3.8 version; can you please confirm the issue is resolved?

[2020-05-21 19:16] hoefling commented on #103
Looks like this is caused by matze/pkgconfig#43. Omitting `pkgconfig==1.5.0` should resolve this.

[2020-05-21 19:41] hoefling commented on #138
@pitbulk if you can try out the `hoefling/xmlsec@aes-gcm`:

[code]
and confirm it working, it would be great - I will try to come up with some tests in the meanwhile.

[2020-05-22 08:13] felixonmars commented on #84
It seems the lxml here has some issues with runpy, that it fails the second time running the same example:

[code]

Using `subprocess.Popen` here instead of runpy makes the tests pass.

[2020-05-22 11:36] hoefling commented on #96
Nope, not resolved - I've tested with the `lxml` from PyPI, not CentOS package. Looks like it's the same issue as #84 for Arch.

[2020-05-22 12:08] lilydjwg commented on #84
Here is my findings. Put together a xml file and run this:

[code]

It reproduces. The second `parse` call only triggers a `stat` call but no file `open` and `read` calls.

lxml, xmlsec and libxml2 are all coming from my Arch Linux.

It looks like the lxml wheel from PyPI (installed by pip) has its own libxml2, but xmlsec dynamically links to the system one, so xmlsec changes one libxml2 while lxm

[2020-05-22 22:07] hoefling commented on #84
@lilydjwg your comment was of an immense help and it brought me to the right track, thank you!

I found out that this issue is caused by `lxml` reusing the XML parser object: e.g.

[code]
works, but

[code]
raises. The same issue arises when calling `etree.parse('doc.xml')` - the default parser stored globally is reused.

The workaround to this issue is thus simple - resetting the default parser b

[2020-05-22 22:11] hoefling commented on #96
It looks like an `lxml` issue to me - check the reasoning [here](https://github.com/mehcode/python-xmlsec/issues/84#issuecomment-632927630). The workaround is to reset the default XML parser object after each `etree.parse()`  invocation:

[code]
or pass a new parser instance explicitly:

[code]

[2020-05-22 22:18] hoefling commented on #84
In the meantime, a simple patch like e.g.

[code]
will fix the test run, but I'm sure this is not what you're after in the end.

[2020-05-22 22:36] hoefling commented on #84
For reference: https://bugs.launchpad.net/lxml/+bug/1880251

[2020-05-22 22:37] hoefling commented on #96
https://bugs.launchpad.net/lxml/+bug/1880251

[2020-05-22 22:37] hoefling commented on #96
For reference: https://bugs.launchpad.net/lxml/+bug/1880251

[2020-05-23 13:33] #103 closed

[2020-05-23 15:24] #99 closed

[2020-05-24 13:22] hoefling commented on #81
Since 1.3.8, you can build [PEP 571](https://www.python.org/dev/peps/pep-0571/)-compliant static wheels (`manylinux2010`) that don't require `libxml2` or `libxmlsec1` installed. Use `docker` to build them:

[code]
You should now have a wheel `./io/wheelhouse/xmlsec-1.3.8-cp38-cp38-manylinux2010_x86_64.whl` on your host. Installing it for Python 3.8:

[code]
For different interpreter target, adjust

[2020-05-24 13:22] #81 closed

[2020-05-24 13:24] hoefling commented on #113
Resort to building a static wheel if your target OS is missing necessary dependencies. See https://github.com/mehcode/python-xmlsec/issues/81#issuecomment-633230184 for details.

[2020-05-24 13:24] #113 closed

[2020-05-24 13:30] hoefling commented on #89
The latest release is now 1.3.8 which resolves this issue.

[2020-05-24 13:32] hoefling commented on #97
This is not a `python-xmlsec` issue and indicates an improper build of `libxmlsec1`. Unset `PKG_CONFIG_PATH`, run `pkg-config --cflags xmlsec1` to record the flags the packaged `libxmlsec1` was built with. Now set `PKG_CONFIG_PATH` again, print the flags your local copy of `libxmlsec1` was built with and compare for differences.

Other than that, I'd really not to dig into build issues of `libxmls

[2020-05-24 13:32] #97 closed

[2020-05-24 20:54] hoefling commented on #95
@r03 I like this suggestion. The linked PR adds a new function `xmlsec.base64_line_size()`:

[code]
It'll be great if you can try out installing from the PR branch and confirming it works as intended!

[2020-05-24 22:18] r03 commented on #95
Sorry. I’m no longer working on that project (it’s finished) and can’t really test. But your fix looks nice. Thanks!!

[2020-05-24 22:18] #95 closed

[2020-06-04 13:48] hoefling commented on #80
`brew info openssl` lists all the necessary configuration steps:

[code]

However, I can't reproduce this issue on 10.15.5 anymore when building against brewed `openssl` and `xmlsec1`, everything should work out as expected:

[code]

[2020-06-04 13:48] #80 closed

[2020-06-04 13:52] hoefling commented on #108
Closed as cannot reproduce this. Feel free to ping me if the issue should be reopened, though.

[2020-06-04 13:52] #108 closed

[2020-06-04 13:52] hoefling commented on #119
Closed as cannot reproduce this. Feel free to ping me if the issue should be reopened, though.

[2020-06-04 13:52] #119 closed

[2020-06-04 13:53] hoefling commented on #102
Closed as cannot reproduce this. Feel free to ping me if the issue should be reopened, though.

[2020-06-04 13:53] #102 closed

[2020-06-04 13:54] hoefling commented on #77
Closed due to lack of user response. Feel free to ping me if the issue should be reopened, though.

[2020-06-04 13:54] #77 closed

[2020-06-04 13:54] hoefling commented on #79
Looks like the issue was resolved, thus closing. Feel free to ping me if the issue should be reopened, though.

[2020-06-04 13:54] #79 closed

[2020-06-04 13:57] peppelinux commented on #119
sorry for the late, I'm far away from this :(

[2020-06-06 01:52] pactiv opened #151 "Build fails with Python 3.8.3 and MSVC 14.25.28610 (VS2019) on Windows 10"
[code]

[2020-06-07 09:01] hoefling commented on #151
Are you explicitly building from source (e.g. with a `--no-binary` flag)? Or are you just executing the regular `pip install` and the windows wheels are not picked up? I'm currently investigating into doing a "proper" static build on windows, including the dependent libs; meanwhile, the prebuilt wheels should help resolve the windows installation issues.

[2020-06-07 16:45] victorpantoja opened #152 "Compiled with debug enabled since 1.3.7"
Hi!

Every time the lib is loaded, I get lines like these:

[code]

I checked the C code, and it seems it was compile with `PYXMLSEC_ENABLE_DEBUG`. So, any chances to get rid of it? Or what else could I do?

[code]

I'm running on Debian 10 with the following lib versions:

[code]

This does not happen with version 1.3.3.

Thanks!

Victor

[2020-06-07 17:33] hoefling commented on #152
Hi Victor, it looks like you've installed `xmlsec` via `pip`? You need to clear the `DEBUG` env var before installing. Also `pip` caches built wheels locally, so a simple reinstall will take the cached wheel that was prebuilt with debug mode on. Either find and remove the cached wheel first, or ignore cached wheels when installing.

### find and remove cached wheel, unset `DEBUG`, reinstall

[code

[2020-06-07 17:50] victorpantoja commented on #152
Hi @hoefling

It worked fine! This is a Django project so `DEBUG=1` is set as default. As our default for our local env is True, I'll just remove it from the env file.

Thank you so much for your quick reply!

best,
Victor

[2020-06-07 17:50] #152 closed

[2020-06-08 09:09] Neurochrom commented on #151
@hoefling It fails for me this way when I do `pip install .`

[2020-06-08 10:26] hoefling commented on #151
@Neurochrom can you ad the full log of `pip install xmlsec -vvv`? That's a weird error with missing exe files.

[2020-06-08 13:36] pactiv commented on #151
`
$ pip install xmlsec --no-cache-dir -vvv
Non-user install because site-packages writeable
Created temporary directory: C:\Users\raficki\AppData\Local\Temp\pip-ephem-wheel-cache-obawy2tw
Created temporary directory: C:\Users\raficki\AppData\Local\Temp\pip-req-tracker-rd7t0j30
Initialized build tracking at C:\Users\raficki\AppData\Local\Temp\pip-req-tracker-rd7t0j30
Created build tracker: C:\Users

[2020-06-13 09:31] pcrum commented on #151
This may be unrelated however I'm running into a similar issue on MacOs.

[2020-06-13 09:35] hoefling commented on #151
@pcrum please add the log of `pip install xmlsec` command.

[2020-06-14 12:14] pcrum commented on #151
[code]

[2020-06-14 14:23] hoefling commented on #151
@pcrum this isn't related to `xmlsec`, check out https://github.com/Homebrew/homebrew-core/issues/52461

[2020-06-16 07:48] jussiniinikoski commented on #151
Looks like this error exists also in python 3.8.2/Ubuntu 20.04

[2020-06-17 12:35] freekvw commented on #138
I have tried this and can confirm it works. Would be nice to get it merged :-)

[2020-06-21 16:37] tony commented on #139
Happens on 3.8 also

Looks like its related to pip [[1](https://github.com/ethereum/eth-abi/issues/131#issuecomment-620981271), [2](https://github.com/pypa/pip/issues/8272)]

`pip install -U "pip<20.1"`

`pip3.7 install -U --user "pip<20.1"`

`pip3.8 install -U --user "pip<20.1"`

Then I had to remove and recreate virtualenv for the project I was on

[2020-07-13 12:10] odidev commented on #84
@hoefling, Thanks for the above solution.
All tests are passing after upgrading lxml to 4.5.2 in amd64 platform, but in ARM64/AArch64 platform even after upgrading lxml, I am getting same lxml syntax error and all tests are passing after incorporating above mentioned changes.

It will be helpful if the above mentioned changes are added or suggest if I am missing any installation of any other depen

[2020-07-16 09:12] hoefling commented on #84
@odidev if you're getting the same error with `lxml==4.5.2`, then the issue is not completely resolved on lxml side (I also think there's more to do as the example I posted in [this comment](https://bugs.launchpad.net/lxml/+bug/1880251/comments/3) fails with 4.5.2). I'd open a new issue with a reproduction example at [lxml's launchpad](https://bugs.launchpad.net/lxml).

[2020-07-16 18:52] hoefling commented on #84
Follow-up issue: https://bugs.launchpad.net/lxml/+bug/1887848

[2020-07-17 07:53] #138 closed

[2020-08-13 21:19] DrPyser opened #156 "failed to install package using pip"
[code]

[2020-08-13 21:33] hoefling commented on #156
You are missing `pkg-config` (`apt install pkg-config` or `dnf install pkgconf-pkg-config` etc, depending on your distro). `pkg-config`, however, should be pulled by the dependencies that are listed in the readme - did you install those?

[2020-08-13 22:00] DrPyser commented on #156
Yup, got it working, sorry.

[2020-08-13 22:01] #156 closed

[2020-08-13 22:30] hoefling commented on #156
No worries, glad to hear that you got it working!

[2020-09-15 23:40] juanlanuzaginvgate opened #157 "Linux Instalation - Wheel"
Hello, I am working on an application that runs in multiple environments (mostly linux distros) and it is not viable to install the system dependencies specified in the readme.

Is it possible to install xmlsec through pip without having to manually install the native libraries?
I saw in [PR132](https://github.com/mehcode/python-xmlsec/pull/132/files) that static builds for linux are implemented b

[2020-09-16 08:24] hoefling commented on #157
Hi @juanlanuzaginvgate, you're right about that - I have implemented building `manylinux` fat wheels with all the dependencies linked statically in a single shared object, but not published them b/c of linking against OpenSSL and I don't have a reliable process of updating the wheels on critical OpenSSL updates. See also my reasoning in #109 comments. In the meantime, if you need `manylinux` wheel

[2020-09-16 13:43] juanlanuzaginvgate commented on #157
Thanks for the help @hoefling!
Prebuiling the wheels seem like the way to go.

[2020-09-16 13:43] #157 closed

[2020-10-01 15:05] holyoaks commented on #151
I have this same problem on Ubuntu 20 in a docker container, but it literally started today. Yesterday I built the Docker image, which contains `pip install -r requirements.txt` as part of the Dockerfile, and everything worked fine. Today, I get the dreaded `ERROR: Could not build wheels for xmlsec which use PEP 517 and cannot be installed directly` error. Did something change overnight? I thought

[2020-10-07 10:06] cornel-masson opened #158 "Install fail: "Unable to invoke pkg-config""
Hi, pip fails to install xmlsec with "Unable to invoke pkg-config":
[xmlsec-pip-install.txt](https://github.com/mehcode/python-xmlsec/files/5339714/xmlsec-pip-install.txt)

apt shows that pkg-config is installed:
[apt-pkg-config.txt](https://github.com/mehcode/python-xmlsec/files/5339725/apt-pkg-config.txt)

I am on Ubuntu 18.04 (bionic) running inside Windows 10 WSL.

[2020-10-07 10:43] #158 closed

[2020-10-07 10:43] cornel-masson commented on #158
Reinstall fixed it: apt-get install pkg-config libxml2-dev libxmlsec1-dev libxmlsec1-openssl

[2020-10-28 09:25] daveisagit opened #159 "Failed to pip install xmlsec on windows"
Python: 3.9
pip: 20.2.4
os: windows 10

Running pip install xmlsec fails to install giving
ValueError: path '/home/runner/work/xmlsec/xmlsec/src/constants.c' cannot be absolute

[2020-10-28 09:47] daveisagit commented on #159
Installing manually works ok gives a new version
`xmlsec-1.3.9.dev22+g18cbae1`

[2020-10-28 09:50] hoefling commented on #159
@daveisagit time to add windows wheels for Python 3.9...

[2020-11-12 22:42] crankd commented on #107
Adding -y to yum install fixed it for me.
[code]

[2020-11-13 11:34] lietu opened #161 "Windows build does not have AES128-GCM support?"
I'm using `python3-saml==1.9.0` which uses depends on `xmlsec==1.3.9`. The suomi.fi authentication portal recently updated from AES128-CBC to AES128-GCM support and the recently added Windows builds no longer function.

When trying to process the SAML assertion, I see the following kind of errors logged:
[code]

This does not appear to be a problem if I install the dependencies from the same `pypr

[2020-11-13 12:43] hoefling commented on #161
@lietu you're right - on Windows, the xmlsec1 library linked against is 1.2.24 that doesn't contain the AES-GCM support yet. Will look into it.

[2021-01-11 06:15] boneVidy opened #162 "xmlsec library version mismatch in windows wsl2"
xmlsec version:1.3.9
libxmlsec1:1.2.31
libxml2: 2.9.10_2
output from the command
`pkg-config --cflags xmlsec1`
output:
-D__XMLSEC_FUNCTION__=__func__ -DXMLSEC_NO_SIZE_T -DXMLSEC_NO_GOST=1 -DXMLSEC_NO_GOST2012=1 -DXMLSEC_NO_CRYPTO_DYNAMIC_LOADING=1 -DXMLSEC_CRYPTO_OPENSSL=1 -I/home/linuxbrew/.linuxbrew/Cellar/libxmlsec1/1.2.31/include/xmlsec1 -I/home/linuxbrew/.linuxbrew/opt/openssl@1.1/include -I/

[2021-01-22 09:50] hitesh-raichandani opened #163 "import xmlsec fails on python 3.8/3.9, macOS Big Sur 11.0.1 and M1 chip"
It installs fine but fails when importing.

[code]

Python 3.8 and 3.9
[code]
[code]

[code]

Will really appreciate any help.

[2021-01-22 13:25] hoefling commented on #163
Hi @hitesh-raichandani, it looks like you have a Mac with the new M1 chip. Unfortunately, I don't have access to this hardware yet and Github Actions doesn't offer anything either, see https://github.com/actions/virtual-environments/issues/2187. I'm thus unable to play with building [universal dists](https://discuss.python.org/t/apple-silicon-and-packaging/4516) right now. Once my company sets up

[2021-01-23 00:20] hitesh-raichandani commented on #163
Thanks for the update @hoefling, added package versions to the issue details for clarity.

[2021-01-25 10:53] jtalir opened #164 "Support PKCS11"
I'm not aware about any way how to use PKCS11 device (token, hsm) with this library. This is critical feature for many use cases.

[2021-02-14 20:08] hoefling commented on #163
@hitesh-raichandani I still can't reproduce the issue due to missing hardware, but maybe you could attach the build log in the meantime? Simply `pip install xmlsec -vvv --force-reinstall --no-cache-dir` and drop the full output in the comments.

[2021-02-14 21:40] hitesh-raichandani commented on #163
@hoefling, the attached file has build logs. Thanks!

[xmlsex-build-log.txt](https://github.com/mehcode/python-xmlsec/files/5978576/xmlsex-build-log.txt)

[2021-02-14 21:46] hitesh-raichandani commented on #163
@hoefling, the attached file has build logs. Thanks!

[xmlsec-build-log.txt](https://github.com/mehcode/python-xmlsec/files/5978583/xmlsec-build-log.txt)

[2021-02-15 10:45] jtalir commented on #164
NSS crypto engine in xmlsec should be capable of using PKCS11. Is it possible to switch to NSS crypto with python-xmlsec?

[2021-02-15 12:53] hoefling commented on #164
@jtalir first thing I would check is whether you can sign/verify or encrypt/decrypt the document with just `xmlsec1` - there's the command line tool for that. As for building against `xmlsec1-nss` - never done that, but I suppose this should be possible once the constants that are not supported by the NSS engine are sorted out in `constants.c`. I will create an experimental branch you can build th

[2021-02-15 13:37] hoefling commented on #164
@jtalir try out the `nss-crypto` branch:
[code]
should build against `xmlsec1-nss`. You need to install the lib first - on my Fedora 33, it's `dnf install xmlsec1-nss xmlsec1-nss-devel`.

[2021-02-15 14:00] jtalir commented on #164
Thanks. I was able to build it. Any hint where to provide content of  --crypto-config  parametr from CLI xmlsec1?

[2021-02-15 14:23] hoefling commented on #164
@jtalir this is yet missing :-) Let me add a sample impl first.

[2021-02-15 15:49] hoefling commented on #164
@jtalir try reinstalling from the same branch again. I have hardcoded `nss` as crypto engine for the sake of testing, otherwise `xmlsec1` overwrites it for me - will need a better way of passing the crypto engine way than what's implemented currently.

[2021-02-15 15:50] hoefling commented on #164
@jtalir you can pass the config path via `xmlsec.init`:
[code]
If it doesn't work, try a `shutdown` before reinitialization:
[code]

[2021-02-15 16:45] jtalir commented on #164
No success. Trying simple nss with local keystore (no pkcs11). Simple xmlsec1 call works, python script doesnt. See bellow:
[code]

[2021-02-15 16:47] jtalir commented on #164
Maybe it's related to the fact that in nss crypto engine, key is identified by name in template.

[2021-04-03 12:10] px0 commented on #163
I'm running into the same issue except I am running python3.7 in the Rosetta2 compatibility mode

[2021-04-09 15:17] milannister commented on #163
Same issue here with python 3.8 and M1.

[2021-04-22 17:38] slysenko opened #165 "Cannot install xmlrpc on Mac BigSur with python 3.8.6"
[code]

[code]

libxml2-2.9.10_2
libxmlsec1--1.2.32
pkg-config--0.29.2_3

[2021-04-22 19:11] aldenjenkins commented on #163
Same issue found here. Any fix yet?

[2021-04-22 21:44] hoefling commented on #163
I can't investigate any issues with M1 since I don't own the necessary hardware. A colleague of mine could successfully compile `xmlsec` from current master though on his MacBook Pro M1, using the brewed libraries. The attached [`xmlsec-apple-m1.zip`](https://github.com/mehcode/python-xmlsec/files/6361395/xmlsec-apple-m1.zip) contains both wheels for `xmlsec` and `lxml`, which you can try out.

Be

[2021-04-23 16:39] Roman513 commented on #165
Suggest to remove XKMS support because it was removed from xmlsec library many years ago https://github.com/lsh123/xmlsec/blob/master/ChangeLog#L69-L70

[2021-04-25 16:52] n1kolov commented on #165
I could confirm the same issue with Catalina and latest xmlsec version, proposed workaround fixes it.

[2021-04-25 20:51] #165 closed

[2021-04-25 21:08] hoefling commented on #165
A new version 1.3.10 is released that has this issue fixed. Kudos to @Roman513 for the contribution!

[2021-04-25 21:49] felixonmars opened #168 "Missing git tag for 1.3.10 release"
It would be nice to keep PyPI releases and git tags in sync :)

[2021-04-25 22:19] hoefling commented on #168
@felixonmars sorry, my bad! Added the tag. The problem with the tags is that I'd like to push releases to PyPI from the CI, but don't have access to the Github actions configurations for the project. Thus I have to push the tags to my own fork in order to release. @mehcode it seems you're the only one with the access to secrets as the project author. Can you add one PyPI upload token to [secrets](

[2021-04-28 22:54] kazzmir opened #169 "fail to build on macos with libxmlsec1 1.2.32"
python-xmlsec fails to build on macos (with xcode 12.4) with libxmlsec1 1.2.32 installed. With libxmlsec 1.2.31 installed, python-xmlsec builds correctly.

The issue is that python-xmlsec has a check to see if the version libxmlsec1 is new enough, and if so then to set XMLSEC_NO_XKMS to 1. The problem is the version check is broken due to the subminor version of libxmlsec1 being bumped to 32. When

[2021-04-28 23:01] kazzmir commented on #169
My mistake, I see this is fixed in master already. It may be fixed in pypi version 1.3.10 but I can't seem to install that with pip for python2 (yes I know that is painfully old).

[2021-04-28 23:02] kazzmir commented on #169
ce45868701220368f156114978c784cc5200d80c this was the commit that fixed it

[2021-04-28 23:02] #169 closed

[2021-05-04 18:14] shepdelacreme commented on #168
Is there a proper release tarball available for `1.3.10`? Not having access to the version tarball in the standard `xmlsec-version.tar.gz` is causing havoc in our build/deploy processes.

![Screen Shot 2021-05-04 at 2 09 58 PM](https://user-images.githubusercontent.com/5123728/117049781-9d811180-ace2-11eb-8736-c7f2e0d95d24.png)

[2021-05-04 20:47] hoefling commented on #168
@shepdelacreme done: [1.3.10](https://github.com/mehcode/python-xmlsec/releases/tag/1.3.10)

[2021-05-06 09:15] andormarkus opened #170 "Install fails docker python:3.8-slim-buster"
Hi All,

I tried to install on python:3.8-slim-buster docker image but it fails with `ERROR: Could not build wheels for xmlsec which use PEP 517 and cannot be installed directly`.

Thanks,
Andor

<br><br>
My dockerfile
[code]
<br><br>
Result of `pkg-config --cflags xmlsec1`
[code]

<br><br>
version of `libxmlsec1`
[code]

<br><br>
version of `libxml2`
[code]

<br><br>
Error log:
[code]

[2021-05-06 12:03] hoefling commented on #170
@andormarkus looks like you're missing the C compiler in the image. `apt install build-essential` before `pip install xmlsec` should resolve this.

[2021-05-17 08:51] aquatix opened #171 "1.3.10 breaks python3-saml"
For some reason, when using 1.3.10 SAML responses from ADFS break with:

[code]

When I revert xmlsec to 1.3.9 (and that's the only package that changes), this works just fine. I'm a tad baffled, as https://github.com/mehcode/python-xmlsec/compare/1.3.9...1.3.10 doesn't really show something relevant about parsing XML, but I might be overseeing something.

Relevant installed pip packages installed

[2021-05-17 08:55] aquatix commented on #171
oooohkay, so after some trial and error and upgrading to 1.3.10 again, everything keeps working just fine on our side (which is to be expected, seeing the diff between 1.3.9 and 1.3.10).  Sorry for the noise, and keep up the good work!

[2021-05-17 08:55] #171 closed

[2021-05-18 20:12] iepathos commented on #102
This is fixed in latest release thanks!

[2021-05-19 15:03] waranlogesh opened #172 "Unable to install xmlsec: xmlSecTransformXsltId undeclared"
Version of `xmlsec` - 1.3.10

Version of `libxmlsec1`
[code]

Version of `libxml2`
[code]

Output from the command pkg-config --cflags xmlsec1

[code]

pip error log
[code]

[2021-05-24 18:01] aalvrz commented on #172
Also experiencing this error when installing for Python 3.8

[2021-05-24 18:13] aalvrz commented on #170
@hoefling I am experiencing a similar issue when installing for Python 3.8 on Amazon AMI system:

I have installed required native libraries listed in README as well as python dev libraries:

[code]

[2021-05-24 19:34] andormarkus commented on #170
Hi @aalvrz for me `apt install build-essential` solved the problem.

[2021-05-24 19:34] #170 closed

[2021-05-24 20:20] aalvrz commented on #170
I don't believe this issue should be closed. `apt install build-essential` might work on Debian but a possible equivalent from Yum will not work:

[code]

😕

[2021-05-24 20:44] hoefling commented on #170
@aalvrz `fatal error: Python.h: No such file or directory` indicates you have no Python headers installed. On RHEL and derivatives, the command is `yum install python-devel` or `dnf install python-devel` (or `python3-devel` on older systems still defaulting to Python 2); on Debian and derivatives, the command is `api install python3-dev`.

[2021-05-24 20:48] aalvrz commented on #170
@hoefling Thanks for the help. But this seems to be failing specifically for Python 3.8, it works fine with Python 3.7...

[2021-05-24 20:51] aalvrz commented on #170
This did the trick:

[code]

🎉

[2021-05-24 21:18] hoefling commented on #172
@waranlogesh I suppose you have multiple installations of `libxmlsec1`: one via `apt`, version 1.2.28 and one via `linuxbrew`, version 1.2.32. `pkg-config` shows flags for the lib version installed via `apt`, while the 1.2.32 installed into `/home/linuxbrew/.linuxbrew/Cellar/libxmlsec1/` is used for building. Using the version installed via `apt`, the installation runs fine here:
[code]

[2021-05-25 19:52] waranlogesh commented on #172
@hoefling Thanks for the response. I was able to install using libxmlsec1 from apt.

Is there any way we can have compatibility with the homebrew version?

[2021-05-25 22:24] hoefling commented on #172
@waranlogesh I don't know how `linuxbrew` builds the libraries and honestly don't have time to look into it, but at least `xmlsec1` build looks broken to me. To reproduce your error from above:
[code]
with `tst.c` being simply
[code]
This indicates [`xmlSecTransformXsltId`](https://www.aleksey.com/xmlsec/api/xmlsec-transforms.html#xmlSecTransformXsltId) is not available, thus it isn't possible to

[2021-05-26 09:35] waranlogesh commented on #172
Thank you @hoefling

[2021-05-26 12:49] hoefling commented on #172
@waranlogesh this should be fixed in #173. If you want, you can test by installing from the PR:
[code]

[2021-05-26 13:08] waranlogesh commented on #172
Great. This works.

❯ pip install git+https://github.com/mehcode/python-xmlsec.git@refs/pull/173/merge

[code]

[2021-05-26 15:12] hoefling commented on #172
@waranlogesh awesome, thank you for testing!

[2021-05-26 15:12] #172 closed, assigned to nobody

[2021-05-29 10:21] hoefling commented on #71
Both GH Actions, Appveyor and Travis now use the same strategy: build the wheel/source dist, install from wheel/source dist, run tests. This should be enough to ensure both sdists and wheels uploaded to PyPI are sane.

[2021-05-29 10:21] #71 closed

[2021-06-03 14:03] utiq commented on #162
@boneVidy I'm having the same error, how did you solve it?

[2021-06-03 17:03] utiq commented on #162
@hoefling Awesome, thanks for your help, I uninstalled and re-installed the package and now it works like a charm.

[2021-06-04 17:06] haniffm opened #181 "Install fails on Ubuntu 20.04 with python 3.8"
I'm trying to install **xmlsec** with **python 3.8** on **Ubuntu 20.04**, inside a docker container with following Dockerfile content:

[code]
And running `docker build .`

I'm getting the following error output:
[code]

If I change the base image to `ubuntu:18.04` it works fine.

[2021-06-04 17:36] hoefling commented on #181
You need to install `pkg-config` as well:
[code]

[2021-06-05 09:07] haniffm commented on #181
Thanks that fixed the issue. Also now that I know how to fix it, I can see that it was quite clear what the problem was in the logs. :)

I'm however curious about why Canonical decided to remove `pkg-config` from Ubuntu 20.04.

[2021-06-05 09:07] #181 closed

[2021-06-08 07:56] todaynowork commented on #107
Hello, can you share your solution in detail? Thanks.

[2021-06-09 07:34] AbdealiJK opened #182 "Usage of dash-separated values will not be supported: description-file, build-required, upload-dir"
I get the fllowing warnings when installing with latest pip:
 - Pip 21.1.2
 - Python 3.6
 - xmlsec 1.3.11
[code]

[2021-06-09 08:51] hoefling commented on #182
@AbdealiJK this should be an easy fix - just go through affected keys in `setup.cfg` and replace dashes with underscores. Do you want to tackle it yourself?

[2021-06-10 09:14] mcepl opened #183 "Tests crash while building Linux package (openSUSE, python 3.6)"
[code]

[log](https://github.com/mehcode/python-xmlsec/files/6629763/_log.txt) with all details of used package and steps taken.

[2021-06-10 11:25] visuman commented on #182
@hoefling
Have a fix for this
https://github.com/mehcode/python-xmlsec/pull/184
Could you please take a look?

[2021-06-10 11:51] #182 closed

[2021-06-12 11:45] hoefling commented on #183
@mcepl yep, can reproduce the error in a Tumbleweed container. Several transform constants seem to be missing in `xmlsec1`:
[code]
Will look into it.

[2021-06-12 12:10] hoefling commented on #183
Ah yes, `xmlsec1` is compiled with `XMLSEC_NO_MD5` on Tumbleweed. Will add support for it. @mcepl thank you for the report!

[2021-06-12 15:45] #183 closed

[2021-06-12 22:26] hoefling commented on #162
Will close this as the reinstall solution is confirmed. @boneVidy feel free to ping me if the issue should be reopened, though.

[2021-06-12 22:26] #162 closed

[2021-06-20 22:04] Gyanesha commented on #163
I too have found this very same issue, any fix for this ?

[2021-06-28 18:56] andberger commented on #163
I get the same issue with `python 3.9` on a M1 chip, any updates on this?

[2021-07-15 11:52] atodorov opened #186 "Provide wheel packages for Linux on PyPI"
Is there are reason wheel packages for Linux to be missing from PyPI ?

If there isn't a technical reason I am advocating for Linux wheel packages to be uploaded to PyPI (preferably upload one for the latest release as well).

In my particular case we're building a Docker image which needs python3-saml (provides wheel) which in turn depends on xmlsec which pip3 tries to compile from source.  The e

[2021-07-16 07:21] hoefling commented on #186
Hi @atodorov, yes, the support of PEP 513 wheels was requested already; I have explained my reasoning [here](https://github.com/mehcode/python-xmlsec/issues/157#issuecomment-693254958). You can also roll out your own `manylinux2010` wheels using the instructions from [here](https://github.com/mehcode/python-xmlsec/issues/81#issuecomment-633230184).

[2021-07-16 16:08] ch3pjw opened #187 "Support for `xmlSecIORegisterCallbacks` etc. or equivalent"
I'm trying port some C code to Python that uses `xmlsec` to sign both a SOAP envelope and an external XML document, which will eventually be bundled into a multipart MIME request. The existing C code uses `xmlSecIORegisterCallbacks` to handle fetching the data for the corresponding `<Reference URI="cid:[some_id]">` node in the template. My naive Python code/template results in `(1, 'failed to sign

[2021-07-16 21:43] #186 closed

[2021-08-04 12:26] FreakyDug opened #191 "Failing to build functional manylinux wheels"
I've been using the instructions that @hoefling [shared in an older issue](https://github.com/mehcode/python-xmlsec/issues/81#issuecomment-633230184) for building python xmlsec into a manylinux wheel to build one in order to deploy on an Ubuntu server, where I can't get the package to build locally.

I have successfully built the wheel, and it installs fine (both in the docker container and on the

[2021-08-05 14:13] FreakyDug opened #192 "Static dependencies build fails with latest libxml2"
# Steps to reproduce
I did this using a manylinux docker image
[code]

# Error output

[code]

# Workaround
Setting `PYXMLSEC_LIBXML2_VERSION` to `2.9.10` allows the build to complete successfully, so something must have changed between 2.9.10 and 2.9.12 that breaks libxslt. A short term fix would be to change the default version to 2.9.10 rather than latest.

[2021-08-05 14:39] FreakyDug commented on #191
It turns out the problem was I was using `STATIC_DEPS` instead of `PYXMLSEC_STATIC_DEPS` which meant it didn't actually build with static dependencies. I did actually try the latter yesterday, but there was a problem with the libxslt build that made me think it hadn't work, which I've raised in #192.

[2021-08-05 14:39] #191 closed

[2021-08-05 14:52] #192 closed

[2021-08-10 18:58] milannister commented on #163
Hi there, are there any plans on progressing on this issue anytime soon? I understand the constraints, and would just like to get some feedback so that we can plan for alternatives if needed.

[2021-08-11 21:37] mrmiguu commented on #163
Howdy! Any updates on the progression for this issue? I understand the scenario and would like to hear back regarding workarounds.

Thanks

[2021-08-19 13:33] AbdealiJK opened #193 "Static deps failing when trying to create a manylinux wheel"
Here is a reproducible example with docker:

[code]

[2021-08-19 14:29] hoefling commented on #193
Hi @AbdealiJK, check out #192. Unfortunately, `xslt-1.14` and `libxml2-2.9.12` cannot be built together ATM.

[2021-08-19 14:29] #193 closed

[2021-08-19 14:32] AbdealiJK commented on #193
Thanks @hoefling

[2021-08-20 06:52] vishwanathjadhav commented on #115
Try to install the following dependencies and the try it again:

[code]

[2021-08-28 09:29] sagrawal-code opened #194 "Not able to install on Ubuntu 18.04"
Till yesterday, I was able to install without any hitch.
Today, installation failing with following error:

[code]

I am sorry, but I am not able to figure out why this is failing as all relevant packages as detailed in the documentation as dependencies seem to be installed. If anyone can provide some hints, it will be very helpful.

Thank you!

[2021-08-28 09:38] hoefling commented on #194
@sagrawal-code try downgrading `setuptools-scm` back to 6.0.1. The 6.2.0 is borked, see https://github.com/pypa/setuptools_scm/issues/611, https://github.com/pypa/setuptools_scm/issues/612, https://github.com/pypa/setuptools_scm/issues/613 etc.

[2021-08-28 09:52] sagrawal-code commented on #194
Thank you so much for your quick reply! It helped.

[2021-09-05 17:00] hoefling commented on #187
Done in #188. Thank you @ch3pjw!

[2021-09-05 17:00] #187 closed

[2021-09-08 18:31] spacewaffle commented on #163
Still having this issue on python 3.9 and M1. Any updates?

[2021-09-08 19:26] hoefling commented on #163
There's nothing to report. The company I worked at didn't manage to provide the M1 hardware and I changed the job recently, so no ETA at all. Feel free to give a :+1: on https://github.com/actions/virtual-environments/issues/2187, as accessing the M1 hardware via CI jobs will probably be most likely the only way for me.

[2021-09-15 19:27] armenzg commented on #163
It installed on my M1 machine.
You will need to build the wheel, thus, you will need to install `libxmlsec1` and `pkg-config`.
You might need to `brew update` and reinstall those packages.
I have been able to builds the wheels for these versions: 1.3.10 to 1.3.12.

Anyone trying this issue also make sure to only try with Python versions 3.8.10 and greater since that's when official support was add

[2021-09-17 13:48] AddisonDunn commented on #163
Using xmlsec==1.3.12 with python 3.8.12 installed via rosetta-enabled homebrew (python@3.8) worked for me. Thanks @armenzg.

[2021-09-17 16:54] armenzg commented on #163
@AddisonDunn you're welcome! How do you use rosetta with Python? I'm curious.

[2021-09-20 19:59] AddisonDunn commented on #163
It's possible I didn't word that correctly but when using the Python 3.8.10 "universal" version for Mac downloaded from Python.org I had no luck, but using @python3.8 (version 3.8.12) installed via the [rosetta-enabled homebrew](https://soffes.blog/homebrew-on-apple-silicon) I did.

`arch -x86_64 /usr/local/bin/brew install @python3.8`

[2021-09-30 18:54] spacewaffle commented on #163
I got my system working by installing python 3.9 via rosetta homebrew, xmlsec==1.3.12 following @armenzg's suggestion to upgrade to xmlsec 1.3.12 and installing libxmlsec1 and pkg-config. Thanks so much!

[2021-10-21 17:40] albertw opened #195 "unable to veryify saml response in python, but works with xmlsec1"
Hi,

I'm trying to debug a problem with SAML response validation using python3-saml and am trying to check whether the problem is down in python-xmlsec.

I have a response from a server and the servers public cert. I've also the CA cert for the server added to the client (/etc/openssl/certs and /etc/certs/CA in my case on Solaris). And with that sure enough the xml validation works using xmlsec1:

[2021-11-25 00:02] edsonbernar opened #196 "Break line in tag signature"
Hi,
Is it possible to avoid line breaks in the signature tag that is generated?
Some servers refuse these characters.
[code]

[2021-12-02 12:13] Chumfuchiu opened #197 "python2,7"
enviroment:
Warning: libxml2 2.9.12 is already installed and up-to-date.
To reinstall 2.9.12, run:
  brew reinstall libxml2
Warning: libxmlsec1 1.2.33 is already installed and up-to-date.
To reinstall 1.2.33, run:
  brew reinstall libxmlsec1
Warning: pkg-config 0.29.2_3 is already installed and up-to-date.
To reinstall 0.29.2_3, run:
  brew reinstall pkg-config

$ brew install libxml2 libxmlsec1 p

[2021-12-02 12:14] Chumfuchiu commented on #197
`Requirement already satisfied: lxml>=3.8 in /Users/chumfuchiu/Library/Python/2.7/lib/python/site-packages (from xmlsec) (4.6.4)
Building wheels for collected packages: xmlsec
  Building wheel for xmlsec (PEP 517) ... error
  ERROR: Command errored out with exit status 1:
   command: /System/Library/Frameworks/Python.framework/Versions/2.7/Resources/Python.app/Contents/MacOS/Python /Users/chumfuch

[2021-12-13 10:12] yoganlava opened #198 "Fails to build "lxml-version.h: No such file or directory""
Suddenly failed to build recently. Might be due to the new release of lxml that came out

[code]

[2021-12-13 10:16] bharling commented on #198
Getting exactly the same thing this morning suddenly

[2021-12-13 10:24] BeryJu commented on #198
lxml 4.6.5 and 4.7 that came out within the last 20 hours cause this, as xmlsec does not have an upper version limit, and the mentioned versions remove the `lxml-version.h` file.

To fix this, you can install xmlsec like this

[code]

[2021-12-13 10:39] bharling commented on #198
Thanks - this solved it for me

[2021-12-13 10:40] ilpianista commented on #198
If so, why the need for `C_INCLUDE_PATH`?

`pip install lxml==4.6.4 xmlsec` should be sufficient, shouldn't it? (spoiler: it's not, but I'm wondering why)

[2021-12-13 10:40] graingert commented on #198
lxml 4.6.5 has the lxml/includes/lxml-version.h file for me

[2021-12-13 10:41] BeryJu commented on #198
I got that `C_INCLUDE_PATH` from the lxml docs when installing on Mac (despite me installing on linux).

I think the reason its needed is because lxml is declared as build dependency for xmlsec, so it downloads another copy during buiild, in which the latest version is downloaded?

[2021-12-13 10:43] BeryJu commented on #198
Good point, updateed the above to use 4.6.5

[2021-12-13 10:52] graingert commented on #198
I have a launchpad bug here https://bugs.launchpad.net/lxml/+bug/1954644

[2021-12-13 11:03] hoefling commented on #198
The `lxml-version.h` should be created on installation ([spot in setup script](https://github.com/lxml/lxml/blob/5c4f6a23d5758ec66cfe22b082a40c2e08df4658/setup.py#L37)), but it's not and it's missing in the latest `lxml` wheels. On the first sight, it looks like a (temporary) `lxml` bug to me, so we can just yank the faulty versions from `lxml` dependency range.

Another workaround could be discar

[2021-12-13 11:15] graingert commented on #198
@scoder can you yank the lxml 4.7.0 release please?

[2021-12-13 11:33] nijel opened #200 "Fails to install using pip - "lxml-version.h: No such file or directory""
This is a similar error as in #198, but not related to `lxml==4.7.0`, so I'm opening a separate issue for it.

For me, the builds started to fail this morning while having lxml version pinned to 4.6.4 (we do pin nearly everything).

* [Working build](https://github.com/WeblateOrg/docker/runs/4500454180?check_suite_focus=true) 11 hours ago
* [Broken build](https://github.com/WeblateOrg/docker/runs/

[2021-12-13 11:49] hoefling commented on #200
@nijel this may be related to build isolation, so the `lxml` installation is not used for building. Try `pip install --no-build-isolation .`, does it resolve it? If yes, it's a dupe of #198.

[2021-12-13 11:50] #198 closed

[2021-12-13 11:52] scoder commented on #198
Thanks for notifying me. I looked through the build logs but couldn't find any reason for this happening. Sadly, fluctuations in cosmic radiation aren't reflected in the log output, however widespread their effect across *all* wheels may be.

I'll remove the release.

[2021-12-13 11:57] graingert commented on #198
@hoefling can you pin this issue?

[2021-12-13 11:58] graingert commented on #198
@scoder please don't *remove* the release - instead yank it

[2021-12-13 11:59] graingert commented on #198
see https://pypi.org/help/#yanked

[2021-12-13 12:01] scoder commented on #198
That's what I did.

[2021-12-13 12:04] regisb commented on #200
I can confirm that this issue is related to build isolation. During setup, lxml==4.7.0 was being installed because xmlsec has `setup_requires=[..., 'lxml>=3.8']`.

[2021-12-13 12:53] nijel commented on #200
Ah, that could explain it. It works without isolation (after installing pkgconfig):

<details>

[code]
</details>

That opens up another question - won't that cause issues if xmlsec is built against a different lxml version than is used in the runtime? Or to ask differently - is build isolation really desired in this case?

[2021-12-14 08:39] hoefling commented on #200
I guess this is best to be answered by `pip` maintainers - if a package is required both as build and runtime dependency, the dependency resolver should take it into account and use the resolved version for both stages.

[2021-12-14 09:49] nijel commented on #200
Allowing different versions is actually the reason for build isolation, so it IMHO works as intended.

[2021-12-15 11:47] bmwant commented on #200
are there any plans of releasing a new version with the fix included https://github.com/mehcode/python-xmlsec/commit/cf38b52c81d80897500f153ae5b9307439d6145a soon?

[2021-12-15 12:31] hoefling commented on #200
@bmwant `lxml==4.7.0` is now yanked, so it shouldn't be an issue anyway. If you are still hitting this, try cleaning your `pip` cache and retry.

[2021-12-15 12:55] hoefling commented on #200
@nijel again, IMO this isn't something that the package itself should be responsible for. Surely, you *may* get issues if you are building against `lxml==X` and executing against `lxml==Y` and `X` and `Y` are not ABI compatible. However, IMO this version discrepancy should be caught by the build backend, with either stopping the installation or issuing a warning about differences between build and

[2021-12-15 13:43] nijel commented on #200
Okay, I've created https://github.com/pypa/pip/issues/10731 to discuss this at pip. I don't see a good solution there and avoiding build isolation might be the least bad solution...

[2021-12-22 12:55] jtalir commented on #164
There is recent release of xmlsec-1.2.33 there is a new attribute --privkey-openssl-engine that can pass pkcs11 parameters to openssl engine as discussed in this thread https://www.aleksey.com/pipermail/xmlsec/2021/010434.html.

How hard is it to get this through python-xmlsec to be able to use it the same way as command line client?

[2021-12-28 19:26] hoefling commented on #196
@edsonbernar what line breaks do you mean exactly? The string representation of the XML tree is generated by lxml's `etree.tostring()` function, this isn't part of `xmlsec`.

[2021-12-29 11:03] edsonbernar commented on #196
Hi,
The code 'return etree.tostring(xml_element, encoding=str)' is just my output. Signing takes place before that.

If you add the code below before 'ctx.sign(signature_node)' then the signature is generated in the correct pattern.
[code]

It seems to me that 'xmlsec.template.create()' introduces line breaks throughout the signature node.
At least that's what I notice when I open the signed xml i

[2021-12-29 13:33] hoefling commented on #196
If you mean the line breaks in the base64-encoded signature value, then you can control the maximal line size via `xmlsec.base64_default_line_size`, e.g.
[code]
Otherwise, please provide a reproducible example that illustrates what you mean exactly.

[2021-12-29 14:45] edsonbernar commented on #196
I already use 'xmlsec.base64_default_line_size' to avoid line breaks in the certificate.
I will try to make the xml signature with the 'Signature' element already existing in the xml, without using 'xmlsec.template.create' to create and then add.

[2021-12-29 15:08] edsonbernar commented on #196
I tested it and the result was the same. Because of the breaks the 'SignatureValue' is different from other libraries (.Net, Python Signxml)
The 'DigestValue' is calculated the same in all.
Anyway thanks for the help.

[2022-01-01 07:36] honghh2018 opened #201 "install the xmlsec through pip install xmlsec failed."
Hi guys,
     i try to install the xmlsec by pip install xmlsec, but  it failed and complaint about below error:
![image](https://user-images.githubusercontent.com/41668708/147846124-657d4de1-57aa-402a-815c-20bf4da356d3.png)

I check my xmlsec1 package that already installed in my system. it can show the version when  run the xmlsec1 --version

But i still get the error when pip install xmlsec.

t

[2022-01-01 13:01] hoefling commented on #201
Hi, you are probably missing the headers - please check the list of required packages [in the docs](https://xmlsec.readthedocs.io/en/stable/install.html#linux-centos).

[2022-01-01 13:01] #201 closed

[2022-01-02 09:25] honghh2018 commented on #201
Hi guys,
    Thanks the reply,
     On the CENTOS8, i can not install the xmlsec1-devel and xmlsec1-openssl-devel through yum, the message showing below:
![image](https://user-images.githubusercontent.com/41668708/147871631-8009520f-eed7-45a7-bf99-db07c5acb90f.png)
    It was complaint about the xmlsec1-devel and xmlsec1-openssl-devel can not be found.
    how can i fix this issue?
    Hope you re

[2022-01-07 08:27] vpol commented on #163
Unfortunately solution provided by @armenzg does not work for me.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2022-01-07 12:06] thihara commented on #163
I had the same issue - this is how I got around it.

I installed the homebrew for intel architecture.

And I built the the dependencies of xmlsec from that.

Then uninstall and reinstall xmlsec from pip with --no-cache-dir, it worked.

[2022-01-12 13:08] thechip911 commented on #197
Same Error Fed Up of these errors

[2022-01-13 09:13] vpol commented on #163
In my further investigation I've discovered that when building manually it does not link with homebrew-provided libxmlsec1 libraries:

[code]

[2022-01-21 16:45] jtalir commented on #164
Is anybody able to evaluate if this change in xmlsec-1.2.33 is callable via python-xmlsec?

[2022-02-02 12:56] subavicky commented on #163
@vpol I'm also facing the same issue (building for macOS-x86_64 but attempting to link with file built for macOS-arm64 xmlsec). Were you able to proceed further?

[2022-02-14 15:14] itay-ishr-di commented on #163
Same issue here. Tried all options you had suggested, nothing worked.

[2022-02-21 08:08] jma commented on #163
Any solution?

[2022-02-21 08:14] vpol commented on #163
@subavicky I'm working on a patch, but unfortunately can't provide ETA

[2022-02-21 10:28] itay-ishr-di commented on #163
Solved it. The cause of this error was installing the psycopg2-binary, which was meant to solve a similar error of "Symbol not found: _PQbackendPID".
Here is what solved it for me:
1. Remove any existing version of Homebrew for M1.
2. Install Homebrew only using Rosetta2 Terminal and use the intel version (google it).
3. ```
pip3 uninstall psycopg2
brew install libpq --build-from-source
export LDF

[2022-02-23 03:01] cadedaniel commented on #163
I encountered this and fixed it by installing `python-xmlsec` from source. You can follow the instructions in the README.md. When installing from wheel, the binary is not correctly linked (e.g. pkg-config shows correct link arguments but `otools -L` doesn't show `xmlsec1.dylib`). I am not sure why it silently fails. But when installed from source, the output binary is correctly linked.

If I find

[2022-03-06 14:42] mweinelt opened #203 "Segfault when testing test_reinitialize_module"
With xmlsec 1.2.33, typing_extensions 4.1.1, mypy_extensions 0.4.3. Excluding `test_xmlsec.py` makes the remaining test work.

[code]

[2022-03-06 15:11] mweinelt commented on #203
Seems to be related to the PyTest 7.0 update.

[2022-03-09 02:43] admackin commented on #163
@cadedaniel did you install `HEAD` or `1.3.12`?

[2022-03-09 05:45] admackin commented on #163
where did you see these `ld` warnings @vpol ? I presume I'm getting the same problem (`otool -L` against the built lib is not reporting `xmlsec1.dylib`) but I'd like to confirm. I've tried @cadedaniel 's workaround but it's not working for me

[2022-03-21 03:16] astrochun opened #204 "Support for python 3.10?"
Thanks again for maintaining a very useful library that is often used for SAML SSO.

I noticed when installing `xmlsec` on CPython 3.10 that a wheel is not available:

[code]

I understand that only 3.5 to 3.9 is supported. Are there plans to support for 3.10?

[2022-03-22 10:59] AbdealiJK commented on #192
For what it's worth - today, when I use `xmlsec-1.3.12.tar.gz`
And try:
`PYXMLSEC_STATIC_DEPS=1 python3.6 setup.py bdist_wheel`
or:
`PYXMLSEC_LIBXML2_VERSION=2.9.10 PYXMLSEC_STATIC_DEPS=1 python3.6 setup.py bdist_wheel`
or:
`PYXMLSEC_LIBXLST_VERSION=1.1.34 PYXMLSEC_LIBXML2_VERSION=2.9.10 PYXMLSEC_STATIC_DEPS=1 python3.6 setup.py bdist_wheel`

They all fail with the same error as above

Also, note

[2022-03-22 11:20] AbdealiJK commented on #192
Seems like I did not realize I had to clear the `libs/` and `build/` folder - cause even though I changed my version, it was not downloading and using the new version I had mentioned in `PYXMLSEC_LIBXLST_VERSION`
Clearing the folders caused it to work with:
`PYXMLSEC_LIBXLST_VERSION=1.1.34 PYXMLSEC_LIBXML2_VERSION=2.9.10 PYXMLSEC_STATIC_DEPS=1 python3.6 setup.py bdist_wheel`

Also, I have raised h

[2022-03-23 22:27] owensj-basis commented on #163
You can see it if you do `pip install -v --no-cache-dir xmlsec`. I was able to solve this issue for one of my devs today by installing libxml2, libxmlsec1, and pkg-config with `arch -x86_64 /usr/local/homebrew/bin/brew`, and then adding the following values to `~/.zshrc`:
[code]

[2022-03-26 18:36] oleksiikoliesnyk opened #206 "Trouble in using xmlsec on Mac m1"
Here is error message:
[code]

[2022-03-28 09:59] stanislavlevin commented on #96
self-tests of `python-xmlsec` with `PYXMLSEC_TEST_ITERATIONS` > 0 fail due to this issue:
[code]

used versions:
[code]

though the workaround you proposed works:
[code]

[2022-03-28 10:08] stanislavlevin opened #207 "[self-tests] test_xmlsec_constants_stub fails on master"
`test_xmlsec_constants_stub` fails on `master` with:
[code]

note: this test is skipped on upstream's CI due to missing optional `black`.

[2022-04-08 05:37] Cielquan commented on #204
I second this. For my project I only use >=3.10.

Because of the missing wheel, it is tried to create one locally upon installation (xmlsec is no direct dependency for me). The wheel creation crashes (on windows) because "stdio.h" is missing, which in itself is a whole 'nother issue, I know.

[2022-04-20 16:47] daveisagit commented on #204
I 3rd it 😂 or any advice on workarounds / self-compilation etc.

[2022-04-20 17:21] Cielquan commented on #204
Depends on linux it was pretty easy to self-compile. On windows I was not able to get it to work.

So if you are on linux I may be able to help you.

[2022-04-21 08:12] daveisagit commented on #204
Thanks, but I'm on Windows

[2022-05-06 12:51] ChrisMacNaughton opened #208 "python-xmlsec fails on big-endian systems"
While working to enable python-xmlsec on Ubuntu, the function below fails because `H` is defined as an "unsigned short int", where the format is defined as a "short int":

`if (!PyArg_ParseTupleAndKeywords(args, kwargs, "OH|z:from_file", kwlist, &file, &format, &password)) {`

 changing it to `OI` resolves the test failures on big-endian systems.

[2022-05-10 15:03] daveisagit commented on #204
Hi there 👋 wonderful codebase maintainers. Just letting you know I am still really looking forward to 3.10 support on this. ❤️

[2022-05-11 15:52] mcepl opened #210 "Crash when running the test suite with Python 3.10"
When running the test suite, it fails with this backtrace:

https://gist.github.com/mcepl/43ada31674951bdbd62d8d560575a9f1

This is [complete build log](https://github.com/mehcode/python-xmlsec/files/8671309/_log.txt) describing all packages used and steps taken to reproduce the problem (unfortunately, I had to collect backtrace outside of the build environment).

It is probably blocking https://g

[2022-05-13 12:04] igallart opened #211 "Fail install in Docker Ubuntu 22.04 with python 3.10"
root@366a6b631183:~# pip install xmlsec
Collecting xmlsec
  Downloading xmlsec-1.3.12.tar.gz (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.2/64.2 KB 1.2 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Collecting lxml>=3.8
  Using cached lxml-

[2022-05-14 14:31] #211 closed

[2022-05-21 18:33] mcepl commented on #210
Or there is this backtrace ... not exactly the same: `tests/test_xmlsec.py::TestModule::test_reinitialize_module` passed and it failed only in `tests/test_constants.py::test_transform_str`: https://gist.github.com/mcepl/7c0cba8a3b41780dbb3e56ed31bbf299

[2022-05-30 10:09] mick88 commented on #204
This is blocking my project from upgrading to 3.10 as there are no windows py310 binaries in the latest release

[2022-06-02 15:22] mcepl commented on #210
Isn't it just that `transform->id->href` can be uninitialized? I have to admit that I got lost in the bizarre maze of macro hell in `src/constants.c`.

[2022-06-08 11:23] dirkmueller commented on #210
I don't see how it can be uninitialized, it is unconditionally initialized in the constructing function?

[2022-06-08 12:20] mcepl commented on #210
`uninitialized` == `has not been initialized`. I had lost my way in the endless bogs of `src/constants.c`, but I am just not persuaded still that there are no situations where `transform->id->href` has not been set at all.

[2022-06-15 14:24] kostasmarkakis commented on #204
Please upgrade for 3.10!
we have a project with 3 major components and in one of them, xmlsec is the only library out of 35 that prohibits the upgrade of our platform to 3.10!

[2022-06-23 10:45] shwetasinghh commented on #163
Python - 3.6.15, getting same error.
`ImportError: dlopen(/Users/shwetasingh/.pyenv/versions/3.6.15/lib/python3.6/site-packages/xmlsec.cpython-36m-darwin.so, 0x0002): symbol not found in flat namespace '_xmlSecAddIDs'`

[2022-07-13 17:13] Cy-Beard opened #213 "Building wheel error code 1"
Here is an output:
pip3.7:
]# pip3.7 install .
Processing /root/Downloads/caldera/plugins/saml/python-xmlsec
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: lxml>=3.8 in /opt/usr_local/lib/python3.7/site-packages (from xmlsec==1.3.13.dev5+gbf6984a) (4.6.5)
Building wheels for colle

[2022-07-13 22:27] Cy-Beard commented on #213
Corp was blocking access to the repos that hosted the dev packages. I was able to install them after they allowed the repos and xmlsec installed perfectly.

[2022-07-13 22:27] #213 closed

[2022-07-15 07:30] michal037 commented on #151
I have the same problem.
* Python 3.10.5 x64
* Windows 10 21H2 x64
* Visual Studio 2022 Community x64 (workload for desktop C++) - not installed for xmlsec

Installing xmlsec itself activates building from source. I have no way to turn it off.

**different versions of compilers**

[code]

[2022-08-01 19:54] ajit7395 commented on #211
How did you solve this issue ?
I am trying to install xmlsec v1.3.12 in ubuntu 22.04 docker image with python3.7.3 and pip 22.2.1. As per the docs, the dependencies are installed.
But I'm still facing this issue.

[2022-08-02 08:04] igallart commented on #211
Hello, I can't, thanks.

El lun., 1 ago. 2022 21:55, Ajit Gupta ***@***.***> escribió:

[2022-08-05 13:31] swolfe2 commented on #204
Would really love support for >=3.10! I have a hard requirement to use 3.10 at work, and would really love to be able to use xmlsec on a project.

[2022-08-08 16:39] guidros opened #214 "Cannot install on Windows 10"
I've tried to install 1.3.12 library version on windows 10 but the installation gives the following error:
      fatal error C1047: The object or library file 'C:\Users\guidr\AppData\Local\Temp\pip-install-vb4p8xkh\xmlsec_c83a2796c6b84c61ae947515cf2ad097\build\tmp\libs\iconv-1.14.win64\lib\iconv_a.lib' it was created with a different compiler version than other objects, for example 'build\temp.win

[2022-08-10 07:45] ryanlinnit-sky opened #215 "Upload wheels to PyPi"
Hello, as you have github actions to build linux, mac, etc wheels, could they also be uploaded to PyPi so these platforms don't have to install additional OS packages to compile the xmlsec module.

Currently only Windows wheels are available on PyPi.

Thanks :)

[2022-08-12 15:38] kloczek opened #216 "1.3.12: pytest is failing"
I'm packaging your module as an rpm package so I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w --no-isolation`
- because I'm calling `build` with `--no-isolation` I'm using during all processes only locally installed modules
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointing to si

[2022-08-12 15:40] kloczek commented on #216
I'm not sure but it maybe because I'm using relatively fresh `lxml` version
Here is pytest output:
<details>

[code]
</details>

[2022-08-20 11:56] #208 closed

[2022-08-20 12:06] #96 closed

[2022-08-20 12:11] hoefling commented on #215
@ryanlinnit-sky unfortunately, not because the code is compiled against OpenSSL. See my comment in #109.

[2022-08-20 12:11] #215 closed

[2022-08-20 13:18] hoefling commented on #207
@stanislavlevin hi, thank you for pointing this out! The stubs are in a bad shape, will renew them and ensure the test invokes in the CI as well.

[2022-08-20 13:22] #207 closed

[2022-08-20 13:24] hoefling commented on #216
@kloczek this should be amended by #212 which is in master branch now. Can you rerun the tests from the current master?

[2022-08-20 17:03] kloczek commented on #216
OK .. one sec 😄

[2022-08-20 17:15] kloczek commented on #216
With all master commits:
[code]
Now is way better but still I see 3 units failing
[code]

[2022-08-20 17:20] kloczek commented on #216
So in my spm sepc file I'll keep those there units still deselected 😄
[code]

I found another issue related to documentation.
I'm no longer able to generate man page.
[code]

[2022-08-20 17:23] kloczek commented on #216
Forgot about one datail. To be able straight use call it like below:
`PYTHONPATH=$PWD/build/$(cd build; ls -d1 lib*) /usr/bin/sphinx-build -n -T -b man doc/source build/sphinx/man`

[2022-08-20 18:52] hoefling commented on #216
@kloczek are you using python 3.8 or less in doc build?

[2022-08-20 21:01] kloczek commented on #216
Yes 3.8.13.

[2022-08-20 21:15] hoefling commented on #204
Hi all, I've uploaded windows wheels including 3.10 ones with the release of 1.3.13.

[2022-08-20 21:15] #204 closed

[2022-08-20 21:17] #168 closed

[2022-08-20 21:19] hoefling commented on #206
@oleksiikoliesnyk please check #163.

[2022-08-20 21:19] #206 closed

[2022-08-20 21:20] swolfe2 commented on #204
Can confirm! Thanks for that!

[2022-08-20 21:24] hoefling commented on #197
@Chumfuchiu unfortunately, python 2.7 was discontinued 2020 and is not supported anymore.

[2022-08-20 21:24] #197 closed

[2022-08-20 21:30] #200 closed

[2022-08-20 21:39] hoefling commented on #216
Ah, I missed a `from __future__ import annotations` in the `conf.py`; wasn't aware that the docs are built somewhere with older Python versions. Will amend shortly.

[2022-08-21 00:09] kloczek commented on #216
Just tested new version
[code]
You can peak on fixes that kind of issues in other projects
https://github.com/latchset/jwcrypto/pull/289
https://github.com/click-contrib/sphinx-click/commit/abc31069
https://github.com/latchset/jwcrypto/pull/289
https://github.com/RDFLib/rdflib-sqlalchemy/issues/95
https://github.com/sissaschool/elementpath/commit/bf869d9e
https://github.com/jaraco/cssutils/issues/

[2022-08-21 00:12] kloczek commented on #216
And pytest is failing again
<details>

[code]
</details>

[2022-08-21 00:13] kloczek commented on #216
Second part of the log
<details>

[code]
</details>

[2022-08-21 05:45] #151 closed

[2022-08-21 06:59] hoefling commented on #216
You are still missing the patch from #212.

[2022-08-21 07:11] hoefling commented on #216
The tests for doc examples are also adjusted to the change in #212 now and shouldn't fail.

[2022-08-22 07:44] hoefling commented on #214
The 1.3.13 has prebuilt windows wheel for Python 3.10, try those instead.

[2022-08-22 07:44] #214 closed

[2022-08-28 22:21] markp2 opened #232 "1.3.13.tar.gz has inconsistent version: filename has '1.3.13', but metadata has '0.0.0'."
I am getting pip install failures - apparently because the 1.3.13.tar.gz has inconsistent version: filename has '1.3.13', but metadata has '0.0.0'. This has the effect of continuing 1.3.13. -> 1.3.12 -> 1.3.11 etc. until it ultimately fails. See below.

A workaround is to use Pips legacy resolver```sudo -H pip3 install --use-deprecated=legacy-resolver -U xmlsec ```

mark@MarksMacBookM1 source %  s

[2022-08-29 17:11] hoefling commented on #232
Can't reproduce that:
[code]
What version of `pip` are you using? Try upgrading `pip` (and by chance `setuptools` as well) first:
[code]
Does the error still persist?

[2022-08-29 17:27] markp2 commented on #232
Thanks. I only have pip3 and it is 22.2.2

[code]

[2022-08-29 17:47] hoefling commented on #232
Again - does it fail in a fresh venv? Use the commands given at the bottom of my previous comment to reproduce.

[2022-08-29 17:58] markp2 commented on #232
That does work:

[code]

[2022-08-29 18:34] hoefling commented on #232
This isn't an issue with the package itself then, rather with the brewed environment - update `pip`/`setuptools` for the brewed python and you should be good.

[2022-08-29 18:34] #232 closed

[2022-08-31 17:37] felixonmars commented on #84
There are still three failures here with 1.3.13 and lxml 4.9.1:

[code]

Looks like there's no activity on the follow-up lxml issue.

[2022-09-11 10:01] bityob opened #234 "xmlsec library version mismatch"
[code]

I'm getting an error when trying to import xmlsec
[code]

I would appreciate your help 🙏

Thanks

[2022-09-11 10:08] bityob commented on #234
Upgrading `xmlsec` to `1.3.13` solved the issue.

Thanks

[2022-09-11 10:08] #234 closed

[2022-09-12 13:19] sudoplox opened #235 "installing build dependency taking forever"
installation of build dependency taking forever, using pip version 20.3

`#19 17.98 Collecting xmlsec==1.3.12`
`#19 18.16   Installing build dependencies: started`
`....`
`#19 7287.3   Installing build dependencies: still running...`

[2022-09-19 16:27] hoefling commented on #235
@sudoplox please run `pip install xmlsec -vvv` and add the log output here.

[2022-09-21 14:01] MathiasKowoll commented on #163
I just installed on Mac OS without a problem my steps are:
everything worked for arm64 without issues.

brew install libxmlsec1
brew install pkg-config
pip install xmlsec

Btw Im running Ventura but should work on Monterrey also

[2022-09-26 21:30] markp2 commented on #232
Unfortunately I still have the issue after upgrading pip and setup tools in my non venv environment (brew). Using the -v flag I can see there is an Error in sitecustomize;   If I set PYTHONVERBOSE for traceback I see the 2 python Tracebacks in addition to the ERROR: No matching distribution found for xmlsec==1.3.12

[code]

[code]

[2022-09-27 10:19] markp2 commented on #232
Is there a way for me [or you] to modify the assert line to:

```assert not path in sys.path, (path, sys.path)```

[2022-09-27 10:34] markp2 opened #236 "Error in sitecustomize; set PYTHONVERBOSE for traceback: AssertionError: assert not path in sys.path"
Unfortunately I have this issue after upgrading pip and setup tools in my non venv environment (brew). Using the -v flag I can see there is an Error in sitecustomize;   If I set PYTHONVERBOSE for traceback I see the 2 python Tracebacks in addition to the pip ERROR: No matching distribution found for xmlsec==1.3.12

[code]

[code]

Is there a way for me [or you] to modify the assert line to show th

[2022-09-27 14:37] markp2 commented on #236
Found the assert line - it originates in file ```python3.10/site-packages/pip/_internal/build_env.py```

I then modified this file to show the assertion:

 ```assert not path in sys.path, (path, sys.path)```.

Running now shows this error:

  AssertionError:
('/usr/local/lib/python3.10/site-packages',
['/private/var/folders/3d/5td6p6fj7p3gk7nvkgltv29c0000gp/T/pip-build-env-muoavmtc/site', '/usr/lo

[2022-09-27 21:43] hoefling commented on #236
The assertion error is negligible since it doesn't abort the installation. For now it looks like an issue with `setuptools-scm` to me. What is the output of `pip install 'setuptools-scm<7' &&  pip install xmlsec --no-build-isolation`?

[2022-09-29 06:09] nnarlawar-snap opened #237 "ImportError: No module named html.parser"
#16 1.689 Processing /python-xmlsec
#16 1.715   Installing build dependencies: started
#16 5.536   Installing build dependencies: finished with status 'done'
#16 5.539   Getting requirements to build wheel: started
#16 5.699   Getting requirements to build wheel: finished with status 'error'
#16 5.699   ERROR: Command errored out with exit status 1:
#16 5.699    command: /usr/local/bin/python /opt

[2022-09-29 07:54] #237 closed

[2022-10-10 08:10] scoder opened #239 "Use lxml's adoptExternalDocument()"
It seems that xmlsec's lxml integration does not call adoptExternalDocument() to create an lxml wrapper for an internally created libxml2 XML tree. If it wants to pass externally created XML documents into lxml, then it should call it. Simply wrapping an arbitrary libxml2 tree in an lxml Element violates lxml's tree invariants, such as shared usage of an XML name dict. This can lead to misbehaving

[2022-10-27 11:31] syberen opened #242 "Unable to pip install on MacOS 12.6"
I've been trying to install xmlsec into my virtual environment, but keep getting an error saying `xmlsec1` is not installed or not in path.

I've installed the required packages from the docs using homebrew. Tried using python version 3.8, 3.9 and 3.10

Also running `xmlsec1 --version` returns xmlsec1 1.2.34 (openssl), so it appears to be installed.

Any help would greatly appreciated! Full error

[2022-10-27 11:38] syberen commented on #242
I had a path set in my .zshrc which I removed, that fixed it

[code]

[2022-10-27 11:38] #242 closed

[2022-11-10 19:14] visuman opened #243 "Create a xmlsec-binary package"
I have been using python-xmlsec for a while now, and I always create a .whl with xmlsec present in it as it's much easier to use.
And over the last 1 year, I've had multiple issues with building this .whl file because of some system dependencies and version conflicts.

It would be great if we can have xmlsec-binary.

Somewhat like how the pysqlite3 project does it:
https://pypi.org/project/pysqlit

[2022-11-25 11:37] danigm opened #244 "test_sign_case5 fails with xmlsec 1.2.36"
* xmlsec: 1.2.36
* libxmlsec1: 1.2.36
* libxml2: 2.10.3
* pkg-config --cflags xmlsec1: `-DXMLSEC_CRYPTO_DYNAMIC_LOADING=1 -D__XMLSEC_FUNCTION__=__func__ -DXMLSEC_NO_SIZE_T -DXMLSEC_NO_MD5=1 -DXMLSEC_NO_GOST=1 -DXMLSEC_NO_GOST2012=1 -DXMLSEC_DL_LIBLTDL=1 -I/usr/include/xmlsec1 -I/usr/include/libxml2`

[code]